:root {
  --white: #ffffff;
  --dark: rgb(45, 45, 45);
  --darkStrong: rgb(24, 24, 24);
  --pinkStrong: rgb(234, 0, 255);
  --blueLight: rgb(0, 155, 219);
  --blueMoreLigth: rgb(0, 220, 255);
  --pinkMoreStrong: rgb(234, 0, 255);
  --gray: rgb(65, 64, 64);
  --line: rgb(191, 194, 196);
  --light: rgb(220, 245, 251);
  --letterBlueStrong: rgb(35, 168, 224);
}
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap");

/*Globals*/

button:hover {
  border: 2px solid white;

  color: white !important;

  padding: 1rem 2rem;
}

body {
  font-size: 20px !important;

  font-family: "Zen Kaku Gothic Antique", sans-serif !important;
}

.button-dark {
  margin: 2rem;
  display: block;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--dark);
  color: white;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  font-weight: bold;
}
.button-light {
  margin: 2rem;
  display: block;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--pinkStrong);
  color: white;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  font-weight: bold;
}
.tc-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tc-center-only {
  display: flex;
  justify-content: center;
}
.btn-more {
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  color: white;
  background-color: var(--blueMoreLigth);
  font-size: 1.5rem;
  text-align: center;
}
.line {
  padding: 0;
  margin: 0;
  height: 5px;
  background-color: var(--line);
  margin-bottom: 4rem;
}
.space {
  height: 15px;
}

.size-icon {
  width: 20%;
}
.posicionar {
  display: flex;
  flex-direction: column;
}

.phone-size {
  margin: 0 auto;
  width: 100%;
}
.phone-size2 {
  margin: 0 auto;
  width: 100%;
}
.l33 {
  font-size: 1.1rem;
  line-height: 1.2;
}
.font-sc {
  font-size: 1rem;
}
/*header*/
header {
  background-image: url("../images/imagesCustom/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.cont-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 12rem;
}
.mf-logo {
  width: 12rem;
}
.logo-top {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.prin-title {
  margin-top: 4rem;
}
.centeri {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn-first {
  margin-top: 2rem;

  background-color: var(--dark);
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 1.4rem;
}
h1 {
  font-size: 3.5rem;
  color: var(--white);
  text-align: center;
}
header ul li {
  font-size: 18px;
}
.phone {
  width: 100%;
}
.phone-tp {
  margin-top: 0;
}
.color-phone {
  background-color: var(--blueLight);
}

/**first*/
.first h2 {
  text-align: left;
  font-size: 1.6rem;
  text-align: center;
}
.first .title-color {
  font-size: 2.35rem;
}
.first-content {
  z-index: 1;
}

.first-text {
  font-size: 1.5rem;
  padding: 0 2rem;
}
.title-color {
  font-size: 2rem;
  color: var(--pinkStrong);
}

.first {
  background-image: url("../images/imagesCustom/2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.guy1 {
  display: flex;
  justify-content: center;
}
.first-items {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}
.first h3 {
  font-size: 1rem;
  color: var(--blueMoreLigth);
}
.tds {
  gap: 1rem;
}
.first-items h3 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

/**second*/
.second-cards p {
  font-size: 10px;
  color: var(--white);
  padding: 3rem;
}

.up {
  font-size: 1rem;
  color: white;
}
.up1 {
  background-image: url("../images/imagesCustom/9.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.up2 {
  background-image: url("../images/imagesCustom/10.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.up3 {
  background-image: url("../images/imagesCustom/11.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.up4 {
  background-image: url("../images/imagesCustom/12.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.down {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}
.second-cont .title-color {
  font-size: 2rem;
}

/**Three*/
.three {
  background-color: var(--light);
}

.three ul {
  line-height: 1.1;
  font-size: 1.6rem;
}

.three-subtitle {
  font-size: 1.6rem;
  padding: 0 2rem;
}
.card {
  padding: 0 !important;
}
.e-commerce {
  background-image: url("../images/imagesCustom/logoEcommerce.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}
.three-1 {
  font-size: 2rem;
  margin-left: 0rem;
  text-align: center;
}
.three-2 {
  color: var(--blueLight);
  text-align: center;
  font-size: 3rem;
}
.three-3 {
  text-align: end;
  font-size: 2rem;
  text-align: center;
}



/**Four*/

.four-text {
  padding: 0.5rem 0rem;
}
.cont-flu-seven {
  height: 100%;
 
  color: black;

  position: relative;
}
.cont-flu-seven::before {
  content: "";

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/imagesCustom/23.png") no-repeat center center/cover;

  position: absolute;
  width: 100%;
  height: 35rem;
  bottom: 15rem;
  z-index: -1;
}

.four h2 {
  color: var(--blueLight);
  font-size: 2rem;
  font-weight: bold;
}

.four-card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 0;

  
  background-color: white;
}

.four-card h2 {
  font-size: 3rem;
  text-align: center;
}
.four-blue {
  color: var(--blueLight);
}

.four-row-pink {
  padding: 1rem 1rem;
  background-color: var(--pinkMoreStrong);
  color: white;
  font-size: 2rem;
}

.four-cards {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.card {
  background-color: rgb(0, 155, 219);
  font-size: 1rem;
  color: white;
  padding: 2rem;
}
.title {
  margin: 0 auto;

  width: 100%;
}

.content-card {
  padding: 2rem;
}
.for-top {
  margin-top: 4rem;
}
.for-bottom {
  margin-bottom: 4rem;
}

/**/
.content-boxs {
  display: flex;
  justify-content: space-evenly;
}
.color-card {
  background-color: var(--blueLight);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.color-card p {
  padding: 2rem;
  font-size: 1.3rem;
}
.guy2 {
}

/*five*/
.five {
  background-color: var(--light);
}
.five-content h2 {
  font-size: 2rem;
  font-weight: bold;
}

.l1 {
  font-size: 2rem;
}
.l11 {
  font-size: 1.4rem;
}

.five-cards {
  padding: 2rem;

  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.five-cards .card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 0;
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.five-cards img {
  padding: 1rem;
}
.five-cards p {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 0 0.5rem;
  width: 100%;
  line-height: 1;
}
.five-cards .tc-center {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.number {
  width: 8rem;
}

.l3 {
  font-size: 1.2rem;
  line-height: 1.4;
}

.al {
  line-height: 1.6;
}

.five-content h2 {
  font-size: 1.5rem;
  text-align: center;
}
.five-content .five-title-color {
  font-size: 2.5rem;
  text-align: center;
  color: var(--pinkStrong);
}
.five-content .five-title-margin {
  text-align: center;
}
.five .three-1 {
  font-size: 2rem;
  text-align: center;

}
.five .three-2 {
  color: var(--blueLight);
  text-align: center;
  font-size: 3.75rem;
}
.five .three-3 {
  text-align: center;
  font-size: 2rem;
}

/*six*/
.six .title-color {
  color: var(--blueLight);
}

.six-btn {
  background-color: var(--pinkStrong);
}
.six-p {
  font-size: 1.4rem;
}

.six .six-h2{
  font-size: 2rem;
}
.six .six-h2-big{
font-size: 3rem;
text-align: center;

}
.six .six-h2-low{
font-size: 2rem;

}

/*Conctac*/
/* contact section */

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button-container a {
  background-color: #00dcff;
  border: 2px solid #00dcff;
  color: #fff;
  cursor: pointer;
  padding: 1rem 5rem;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.button-container a:hover {
  background-color: #fff;
  color: #00dcff;
}

.button-container a:active {
  animation: pressButton 0.3s ease-in-out;
}

/*Contact*/

.contact-container {
  background: url("../images/assets-animation/22.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 8rem 0 !important;
  overflow: hidden;
}

.contact-container .title-content h3 {
  font-size: 120px;
  font-weight: bold;
}

.contact-container .text-content {
  color: #333;
  margin-left: 1rem;
  margin-top: 1rem;
  position: relative;
  text-align: center;
  width: 70%;
}

.contact-container .text-content::before {
  background-color: #000;
  content: "";
  height: 4px;
  left: 10%;
  position: absolute;
  top: -5%;
  width: 80%;
}

.contact-container .text-content::after {
  background-color: #000;
  content: "";
  height: 4px;
  left: 10%;
  position: absolute;
  bottom: 0%;
  width: 80%;
}

.contact-container .image-absolute {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: -15%;
  z-index: 1;
}

.contact-container .input-body {
  margin-left: 3rem;
  margin-top: 3rem;
}

.contact-container .input-container {
  width: 100%;
}

.contact-container .custom-input {
  border: 3px solid rgb(224, 224, 224);
  color: rgb(211, 211, 211);
  background-color: transparent;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 75px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.contact-container .custom-input:hover {
  padding-left: 2rem;
}

.contact-container .custom-input:focus {
  color: #fff;
}

.contact-container .custom-input::placeholder {
  color: rgb(224, 224, 224);
}

.contact-container .button-container {
  margin-top: 0;
}

.contact-container .button-container a {
  border: 2px solid #2d2d2d;
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  width: 100%;
}

.contact-container .button-container a:hover {
  border: 2px solid #2d2d2d;
  background-color: #fff;
  color: #2d2d2d;
}

/* Info section */
.info-container {
  background-color: #dcf3fa;
  color: #333;
  font-size: 20px;
}

.info-container .image-info {
  width: 80%;
}

.info-container .title-info h4 {
  font-size: 32px;
  margin-bottom: 1rem;
  font-weight: bold;
}

.info-container .info-body {
  padding: 1rem;
}

.info-container .icon-content .icon-item {
  background-color: #2d2d2d;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 25px;
  margin-right: 1rem;
  padding: 1rem;
  width: 25px;
}

.info-container .icon-content .icon-item a {
  display: flex;
}

.info-container .icon-content .icon-item span {
  color: #fff;
  font-size: 16px;
}

.info-container .info-item {
  margin-bottom: 1rem;
}

.info-container .info-item p {
  margin-left: 1rem;
  margin-bottom: 0;
}

/* Footer */
.custom-footer {
  background-color: #333;
  font-size: 12px;
}

.custom-footer .custom-footer-container,
.custom-footer-terms {
  padding: 1rem 0;
}

.custom-footer .custom-footer-container p,
.custom-footer a {
  color: #fff;
  margin: 0 !important;
  text-decoration: none;
}
.custom-footer .terms-list a {
  margin-right: 1rem !important;
}

/**Trrgets**/
.targetOne {
  font-size: 1.1rem;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  padding: 2rem;
  height: 8rem;
}
.targetTwo {
  font-size: 1.1rem;
  background-color: var(--blueLight);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  padding: 2rem;
}
.targetThree {
  font-size: 1.1rem;
  background-color: var(--dark);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 8rem;
}
.targetFour {
  font-size: 1.1rem;
  background-color: var(--blueLight);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  padding: 2rem;
}

@media (min-width: 576px) {
  .first .title-color {
    font-size: 3rem;
  }
  .second-cont .title-color {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .title-margin {
    margin-left: 5rem;
  }

  .first-btn {
    margin-right: 5rem;
  }

  .four h2 {
    font-size: 3rem;
  }
 

  .l1 {
    font-size: 3.5rem;
  }

  .second-cont .title-color {
    font-size: 4rem;
  }

  .title-color {
    font-size: 2.5rem;
    color: var(--pinkStrong);
  }

  .phone-size {
    width: 62.5%;
  }
  .phone-size2 {
    width: 62.5%;
  }
  .title {
    width: 32rem;
  }
}

@media (min-width: 992px) {
  .four-text {
    width: 20rem;
    padding: 1rem 0.5rem;
    text-align: center;
  }
  .first-text {
    margin-left: 0rem;
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .three-1 {
    font-size: 2.25rem;
    text-align: start;
    margin-left: 5rem;
  }
  .three-2 {
    color: var(--blueLight);
    text-align: center;
    font-size: 4.5rem;
  }
  .three-3 {
    text-align: end;
    font-size: 2.25rem;
  }

  .five .three-1 {
    font-size: 1.5rem;
    text-align: start;
    margin-left: 5rem;
  }
  .five .three-2 {
    color: var(--blueLight);
    text-align: center;
    font-size: 2.5rem;
  }
  .five .three-3 {
    text-align: end;
    font-size: 1.5rem;
  }

  .four h2 {
    font-size: 4rem;
  }

  .five-content h2 {
    font-size: 1.5rem;
    text-align: start;
  }
  .five-content .five-title-color {
    font-size: 2.5rem;
    text-align: center;
    color: var(--pinkStrong);
  }
  .five-content .five-title-margin {
    text-align: end;
  }

  .five-content {
    width: 80%;
    padding: 4rem 4rem 2rem 4rem;
  }
  .logo-top {
    margin-top: 7rem;
  }
  .four-text {
    padding: 0.5rem 4rem;
  }
  
  .five-cards p {
    height: 12rem;
  }
  .title-color {
    font-size: 3rem;
    color: var(--pinkStrong);
  }
  .move-first {
    position: relative;
    bottom: 5rem;
    right: 5rem;
  }
  .espace {
    height: 150px;
  }
  .first h2 {
    text-align: left;
  }
  .size-icon {
    width: 25%;
  }
  .first-items h3 {
    font-size: 0.9rem;
  }
  .four-row-pink {
    padding: 1.5rem 5rem;

    font-size: 2.5rem;
  }
  .guy2 {
    width: 27rem;
  }
  .title {
    position: relative;
    left: 5rem;
    width: 25rem;
  }

  .four-move1 {
    position: relative;
    bottom: 2rem;
    right: 3rem;
  }
  .move-container {
    position: relative;
    top: 3rem;
  }
  .move-cart {
    position: relative;
    bottom: 1.5rem;
  }
  .move-text {
    position: relative;
    left: 5rem;
  }
  
  .phone-size {
    width: 100%;
  }
  .phone-size2 {
    width: 100%;
  }
  .l3 {
    font-size: 1.1rem;
    line-height: 1.1;
  }
}

@media (min-width: 1200px) {
  .guy1 {
    position: relative;
    left: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  .guy2 {
   
    width: 35rem;
  }
 
  .targetOne {
    background-image: url(../images/imagesCustom/9.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 22rem;
    padding: 1rem;
  }
  .targetTwo {
    height: 22rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-image: url(../images/imagesCustom/10.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .targetThree {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 1rem;
    height: 22rem;
    background-image: url(../images/imagesCustom/11.png);
    background-size: auto;
    background-repeat: no-repeat;
  }
  .targetFour {
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    height: 22rem;
    font-size: 1.1rem;
    background-image: url(../images/imagesCustom/12.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
  }
  .five-cards p {
    height: 5rem;
  }
  .three-h1-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .five .three-1 {
    font-size: 2rem;
    text-align: start;
    margin-left: 5rem;
  }
  .five .three-2 {
    color: var(--blueLight);
    text-align: center;
    font-size: 3.50rem;
  }
  .five .three-3 {
    text-align: end;
    font-size: 2rem;
  }

  .five-content h2 {
    font-size: 1.5rem;
    text-align: start;
  }
  .five-content .five-title-color {
    font-size: 3rem;
    text-align: center;
    color: var(--pinkStrong);
  }
  .five-content .five-title-margin {
    text-align: end;
  }
  .title-color {
    font-size: 3.5rem;
    color: var(--pinkStrong);
  }
  .move-first {
    position: relative;
    right: 2.5rem;
    bottom: 0rem;
  }
  .espace {
    height: 100px;
  }
  
  .move-cart {
    position: relative;
    bottom: 1.5rem;
  }
  .phone-size {
    width: 100%;
  }
  .phone-size2 {
    width: 100%;
  }
  .l3 {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .three-1 {
    font-size: 2.5rem;
    text-align: start;
    margin-left: 5rem;
  }
  .three-2 {
    color: var(--blueLight);
    text-align: center;
    font-size: 5rem;
  }
  .three-3 {
    text-align: end;
    font-size: 2.5rem;
  }
  .title {
    position: relative;
    left: 5rem;
    width: 32rem;
  }
  .four-text{
    width: 30rem;
  }
  .four-card {
    width: 80%;
  }
  #pad-six{
 
    padding-left: 2rem;
    padding-right: 2rem;
  }
   .six .six-h2{
        font-size: 2rem;
    }
    .six .six-h2-big{
      font-size: 3.50rem;
      text-align: center;
      margin-left: 2rem;
  }
  .six .six-h2-low{
    font-size: 2rem;
    text-align: end;
  }
  
}
@media (min-width: 1300px) {
  .espace {
    height: 155px;
  }
}

@media (min-width: 1399px) {
  .contact-container .title-content h3 {
    font-size: 100px;
  }

  .contact-container .image-absolute {
    bottom: 5%;
  }
  .move-guy {
    position: relative;
    bottom: 5rem;
  }
  .espace {
    height: 160px;
  }
  .guy2 {
    width: 36rem;
  }
  .phone-size {
    width: 80%;
  }
  .l33 {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .targetFour {
    height: 22rem;
    font-size: 1.1rem;
    background-image: url(../images/imagesCustom/12.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .four-card {
    width: 70%;
  }
  .first-items h3 {
    font-size: 1.1rem;
  }
  .five .three-1 {
    font-size: 2.5rem;
    text-align: start;
    margin-left: 5rem;
  }
  .five .three-2 {
    color: var(--blueLight);
    text-align: center;
    font-size: 4rem;
  }
  .five .three-3 {
    text-align: end;
    font-size: 2.5rem;
  }
 
   .six .six-h2{
        font-size: 2.25rem;
    }
    .six .six-h2-big{
      font-size: 3.75rem;
      text-align: center;
      margin-left: 2rem;
  }
  .six .six-h2-low{
    font-size: 2.25rem;
    text-align: end;
  }
  
}
@media (min-width: 1600px) {
  .guy2 {
    width: 42rem;
  }
  .title {
    position: relative;
    left: 5rem;
    width: 38rem;
  }
  .four-text{
    width: 34rem;
  }
  .espace {
    height: 255px;
  }
  .move-container {
    position: relative;
    top: 4rem;
   
  }
}

@media (min-width: 1800px) {
  .espace {
    height: 370px;
  }
  .guy2 {
    width: 47rem;
  }
  .title {
    position: relative;
    left: 5rem;
    width: 45rem;
  }
  .four-text{
    width: 37rem;
  }
  .move-container {
    position: relative;
    top: 4.25rem;
   
  }
}
@media (min-width: 1920px) {
  .targetFour {
    height: 22rem;
    background-image: url(../images/imagesCustom/12.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .guy2 {
    width: 48rem;
  }
  .title {
    position: relative;
    left: 5rem;
    width: 47rem;
  }
  .espace {
    height: 450px;
  }
  .move-container {
    position: relative;
    top: 4.5rem;
   
  }
  
}

@media (max-width: 1199px) {
  .info-container .title-info h4 {
    font-size: 24px;
  }
  .contact-container {
    padding: 5rem 0 !important;
  }

  .contact-container .title-content h3 {
    font-size: 80px;
  }
}
@media (max-width: 991px) {
  .contact-container .input-body {
    margin-left: 0;
  }

  .contact-container .image-absolute {
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .custom-footer-body {
    flex-direction: column;
    justify-content: center !important;
  }

  .custom-footer .custom-footer-container,
  .custom-footer-terms {
    display: flex;
    justify-content: center;
  }

  .custom-footer .custom-footer-container {
    order: 2;
  }

  .custom-footer .custom-footer-terms {
    padding-bottom: 0;
    order: 1;
  }

  .info-container .info-body {
    text-align: center;
  }

  .info-container .image-info {
    margin: 0 auto;
  }

  .info-container .icon-content,
  .info-container .info-item {
    justify-content: center;
  }

  .contact-container {
    padding: 2rem 0 !important;
  }

  .contact-container .title-content h3 {
    font-size: 80px;
  }

  .contact-container .title-content h3 {
    font-size: 60px;
  }

  .contact-container .input-container {
    flex-direction: column;
  }

  .contact-container::before {
    bottom: -15%;
  }
}

@media (max-width: 425px) {
  .custom-footer .terms-list a {
    margin-right: 0.5rem !important;
  }
}
.posicion {
  background-image: url("../images/imagesCustom/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.posicion::before {
  content: "";
  background-color: rgb(219, 246, 251);
  position: absolute;

  bottom: 0;
  width: 100vw;
  height: 100%;
  z-index: -10;
}

.posicion2 {
  position: relative;
}
.posicion2::before {
  content: "";
  background-color: rgb(219, 246, 251);
  position: absolute;

  top: 0;
  width: 100vw;
  height: 50%;
  z-index: -10;
}

.posicion3 {
  position: relative;
}
.posicion3::after {
  content: "";
  background-color: rgb(219, 246, 251);
  position: absolute;

  bottom: 0;
  width: 100vw;
  height: 50%;
  z-index: -10;
}

.move-row {
  position: relative;
  top: 3rem;
}
