:root {
  --white: #ffffff;
  --dark: rgb(45, 45, 45);
  --darkStrong: rgb(24, 24, 24);
  --pinkStrong: rgb(234, 0, 255);
  --blueLight: rgb(0, 155, 219);
  --blueMoreLigth: rgb(0, 220, 255);
  --pinkMoreStrong: rgb(234, 0, 255);
  --gray: rgb(51, 51, 51);
  --line: rgb(191, 194, 196);
}

html {
  font-size: 70.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap");

button:hover {
  border: 2px solid white;

  color: white !important;

  padding: 1rem 2rem;
}
body {
  font-size: 18px !important;

  font-family: "Zen Kaku Gothic Antique", sans-serif !important;
}
body section {
  padding: 4rem 0;
}
.img-adaptation {
  object-fit: cover;
  object-position: center;
}

/*header*/
.cont-popup {
  width: 200px;
  position: absolute;
  top: 50rem;
  z-index: 100;
}
.div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 20px;
  background-color: rgb(234, 0, 255);
  color: white;
  padding: 1.5rem;
  z-index: 10;
  font-weight: bold;
}
.div-title h2 {
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
  font-weight: bold;
}
.containt {
  width: 150px;
  height: 190px;
  background-color: gray;
}
.list a {
  text-decoration: none;
  color: rgb(178, 178, 178);
}

.list {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.show-list {
  display: flex;
}
.hide-list {
  display: none;
}

nav {
  align-items: center;
}
.item {
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem 1rem;
  background-color: white;
  color: rgb(208, 208, 208);
}
#rotate {
  transform: rotate(-90deg);
}
.general {
  display: flex;
  width: 235px;
}

aside {
  background-image: url("../images/imagesMarketing/2.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem !important;
    padding-bottom: 0 !important;
    position: relative;

}
.cont-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 12rem;
}
.mf-logo {
  width: 22.5rem;
}
.logo-top {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.prin-title {
  margin-top: 1rem;
}
.centeri {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn-first {
  margin-top: 2rem;

  background-color: var(--dark);
  color: white;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  font-weight: bold;
  border-radius: 1.8rem;
}
h1 {
  font-size: 6rem;
  color: var(--white);
  text-align: center;
  font-weight: 500;
  font-family: "Zen Kaku Gothic Antique", sans-serif !important;
}
header ul li {
  font-size: 18px;
}
.phone {
  margin: 0 auto;
  width: 75%;
}
.phone-tp {
  margin-top: 0;
}
.color-phone {
  background-color: var(--blueLight);
}

/*Second*/
.second h2 {
  color: var(--pinkStrong);

  font-family: "Zen Kaku Gothic Antique", sans-serif !important;

  font-size: 5rem;
  font-weight: bolder;
}
.phone2 {
  width: 70%;
  margin: 0 auto;
}
.second-p p {
  padding: 2rem;
}

h3 {
  font-size: 2.25rem;
}

.text-with-color {
  color: var(--blueLight);
}

/*three*/
.three h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-left: 0rem;
  margin-bottom: 4rem;
}
.three-left {
  margin-left: 0;
  color: var(--blueLight);
}
.three-padding {
  padding: 2rem;
}
.steps {
  display: flex;
  justify-content: space-evenly;
}
.steps p {
  width: 75%;
}
.number-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  color: var(--white);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
.steps .arrow {
  width: 1rem;
  height: 6rem;
}
.steps_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  width: 90%;
  height: 5px;
  background-color: var(--line);
  margin-bottom: 4rem;
}
.guy1 {
  margin: 0 auto;
  width: 100%;
}
.tc-center {
  display: flex;
  justify-content: center;
}
.free-consultation {
  background-color: var(--blueLight);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
}

/**Cuatro*/
.four-text {
  font-size: 2.2rem;
}
.four h2 {
  color: var(--blueMoreLigth) !important;

  font-family: "Zen Kaku Gothic Antique", sans-serif !important;

  font-size: 5rem;
  font-weight: bolder;
}

.four-content {
  padding: 2rem;
  background-color: var(--gray);
}
.four-items {
  padding: 5rem 0;
}
.four-items h2 {
  color: var(--pinkStrong);
  font-size: 4.25rem;
  line-height: 1.5;
  font-weight: bolder;
  text-align: center;
}
.four-items span {
  color: var(--white);
  font-size: 3rem;
}

.four-item-second p {
  opacity: 0.7;
}
.four-items-second {
  padding: 4rem 2.5rem;
}
.four-items-second p {
  color: var(--blueLight);
  font-weight: bold;
  text-align: center;
}
.four-dark {
  background-color: var(--dark);
}
.network {
  margin: 0 auto;
  width: 70%;
}
.network-text {
  padding: 1rem 1rem !important;
  opacity: 0.7;
}

/*Five*/

.point {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.six h2 {
  color: var(--pinkStrong);
}

.five {
  padding: 0 4rem;
  margin-top: 2rem;
}
.five h2 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--blueMoreLigth);
  text-align: center;
}

.expect-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.expect-options p {
  text-align: justify;
  width: 100%;
  display: flex;
  font-size: 2.2rem;
  line-height: 1.5;
}

.get-started {
  background-color: var(--pinkStrong);
  color: var(--white);
  font-weight: 600;
  font-size: 2.2rem;
  padding: 1rem 4rem;
  border-radius: 2rem;
}
.five-position {
  order: -1;
}
.guy2 {
  margin: 0 auto;
  width: 50%;
}
.left {
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

/*Six*/
.phone7 {
  margin: 0 auto;
  width: 100%;
}
.steps-final p {
  font-size: 2.1rem;
}
.steps-first {
  font-size: 2.1rem;
}
.six-first-text {
  color: var(--blueLight);
  font-weight: bold;
}
.six-second-text {
  color: var(--darkStrong);
  font-weight: bold;
}
.six-first-row p {
  line-height: 1.4;
}
.four-items-first h2 {
  font-weight: bold;
  color: var(--pinkStrong);
  font-size: 4rem;
}
.four-items-first h3 {
  color: var(--dark);
  font-size: 2.25rem;
}
.card-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-61 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.six-moves {
  position: relative;
  left: 0rem;
}
.six-second-row h2 {
  padding: 0;
  margin: 0;

  color: var(--dark);
}
.six h3 {
  font-size: 2.5rem;
}
.six-second-row span {
  margin-left: 4rem;
  color: var(--blueLight);
}
.six-parag {
  line-height: 1.2;
  font-size: 2.1rem;
}
.steps-p {
  line-height: 1.4;
  font-size: 1.8rem;
}
.guy3 {
  margin: 0 auto;
  width: 70%;
}
#ftitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#ftitle span {
  color: var(--blueLight);
}
#ftitle h2 {
  color: black;
}

/**Seven*/
.title {
  margin: 0 auto;
  width: 100%;
}
.seven-first-text {
  padding: 0 2rem;
}
.cont-seven {
  width: 100%;
}
.cont-flu-seven {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.cont-flu-seven::before {
  content: "";

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/imagesMarketing/16.png") no-repeat center center/cover;

  position: absolute;
  width: 100%;
  height: 45rem;
  bottom: 30rem;
  z-index: -1;
}

.title-ceo {
  color: var(--blueMoreLigth);
  font-size: 5rem;
  font-weight: bold;
}
.seven-content {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
.seven-second-text {
  background-color: var(--pinkStrong);
  color: var(--white);
  padding: 2rem 0;
  z-index: 100;
}
.seven-second-text h3 {
  font-size: 2.2rem;
}
.get-started2 {
  background-color: var(--dark);
  color: white;
  padding: 1rem 2rem;
}
.get-started2-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-started2-content button {
  font-size: 2.5rem;
  border-radius: 2rem;
}
.seven-target {
  background-color: var(--blueLight);
  color: white;
}
.content-targets {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content-targets p {
  font-size: 1.8rem;
}
.content-target {
  padding: 0 4rem;
}
.prin-targets {
  width: 100%;
  padding: 4rem 1rem;
}

.prin-targets img {
  width: 35%;
}
.prin-targets p {
  width: 100%;

  padding: 0 3rem;
  height: 18rem;
}

.content-target1 {
  display: flex;
  justify-content: space-evenly;
}

.seven-three-text {
  padding: 4rem;
  line-height: 1.2;
}
.guy4 {
  margin: 0 auto;
  width: 80%;
}

#title1 {
  z-index: 1;
}
#title2 {
  z-index: 10;
}

/*Eight*/
.phone3 {
  margin: 0 auto;
  width: 30rem;
}

footer {
  background-color: var(--dark);
  color: var(--white);

  padding: 1.5rem 0;
}

footer a {
  text-decoration: none;
  margin-left: 1rem;
  height: 30%;
  color: var(--white);
}

footer {
  text-align: center;
}

footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 2rem;
  opacity: 0.8;
}
footer h3 {
  opacity: 0.8;
  font-size: 1.6rem;
}
.terms {
  text-align: end;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button-container a {
  background-color: #00dcff;
  border: 2px solid #00dcff;
  color: #fff;
  cursor: pointer;
  padding: 1rem 5rem;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.button-container a:hover {
  background-color: #fff;
  color: #00dcff;
}

.button-container a:active {
  animation: pressButton 0.3s ease-in-out;
}


@media (min-width: 400px) {
  .prin-targets p {
    width: 100%;
    padding: 0 3rem;
    height: 12rem;
  }
}

@media (min-width: 576px) {
  .content-target {
    padding: 0 10rem;
  }
  .prin-targets p {
    height: 15rem;
  }
}

@media (min-width: 768px) {
  .three h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 4rem;
    margin-bottom: 4rem;
  }
  .title-ceo {
    font-size: 8rem;
  }
  .six h3 {
    font-size: 3.5rem;
  }
  .title-l1 {
    width: 100%;
  }
  .three-left {
    margin-left: 4rem;
    color: var(--blueLight);
  }
  .second-p p {
    margin-top: 5rem;
    padding: 0rem;
    font-size: 2rem;
    line-height: 1.4;
  }
  .four-content {
    padding: 0rem;
  }

  .eight p {
    line-height: 1.2;
    font-size: 2rem;
  }
  .four h2 {
    font-size: 8rem;
  }
  footer {
    text-align: left;
    font-size: 1.6rem;
  }
  footer nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 2rem;
    opacity: 0.8;
  }
  footer h3 {
    opacity: 0.8;
    font-size: 1.6rem;
  }
  .footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mf-logo {
    width: 22.5rem;
  }
  .logo-top {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .prin-title {
    margin-top: 4rem;
  }
  .prin-targets img {
    width: 20%;
  }
  .prin-targets p {
    height: 10rem;
  }
  .guy1 {
    width: 62.5%;
  }
  .phone2 {
    width: 62.5%;
  }
  .network {
    width: 62.5%;
  }
  .phone7 {
    margin: 0 auto;
    width: 62.5%;
  }
  .guy5 {
    margin: 0 auto;
  }
  .guy3 {
    width: 50.5%;
  }

  .guy4 {
    width: 80%;
  }
}

@media (min-width: 992px) {
  #ftitle span {
    color: var(--blueLight);
    margin-left: 4rem;
  }
  .three-padding {
    padding: 0 10rem;
  }
  .four-items-first h2 {
    font-size: 4rem;
  }
  .six-second-row span {
    margin-left: 10rem;
    color: var(--blueLight);
  }
  .six-second-row h2 {
    font-size: 4rem;
    line-height: 1.25;
  }
  .four-items h2 {
    text-align: left;
  }
  .four-items-second {
    padding: 4rem 15rem;
  }
  .card-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-61 {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .six-moves {
    position: relative;
    left: 8rem;
  }
  .eight .card-61 {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .network-text {
    padding: 8rem 0rem 8rem 4rem !important;
    font-size: 2.2rem;
    line-height: 1.4;
  }
  .cont-seven {
    width: 70%;
  }
  .seven-three-text {
    padding: 0 8rem;
  }

  .mov {
    position: relative;
    left: 2rem;
  }
  .title {
    margin: 0 auto;
    width: 40rem;
  }
  .prin-targets {
   
    padding: 4rem 1rem;
  }

  .prin-targets img {
    width: 30%;
  }
  .prin-targets p {
    font-size: 16px;
    height: 30rem;
  }

  .guy1 {
    width: 100%;
  }
  .phone2 {
    width: 100%;
  }
  .network {
    margin-top: 8rem;
    width: 100%;
  }
  .guy2 {
    width: 85%;
  }
  .phone7 {
    margin: 0 auto;
    width: 100%;
  }
  .phone3 {
    margin: 0 auto;
    width: 100%;
  }
  .guy5 {
    margin: 0 auto;
  }
  .guy3 {
    width: 80.5%;
  }

  .seven-first-text {
    font-size: 2rem;
    padding: 0 1rem;
  }
  .three h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 4rem;
  }
  .move-f-t {
    height: 100px;
  }
  .phone {
    margin: 0 auto;
  
  }
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .move-title {
    margin-left: 10rem;
  }
  #ftitle span {
    color: var(--blueLight);
    margin-left: 8rem;
  }
  .prin-targets img {
    width: 40%;
  }
  .prin-targets p {
    font-size: 20px;
    height: 26rem;
  }

  .guy1 {
    width: 82.5%;
  }

  .phone2 {
    width: 100%;
    margin-top: 1rem;
  }
  .second-p p {
    padding: 1rem;
    line-height: 1.3;
    font-size: 2.1rem;
  }
  .network {
    width: 90%;
  }
  .guy2 {
    width: 100%;
  }
  .phone7 {
    margin: 0 auto;
    width: 100%;
  }

  .phone3 {
    margin: 2rem auto;
    width: 55rem;
  }
  .guy5 {
    margin: 0 auto;
  }
  .rigth {
    position: relative;
    left: 5rem;
    z-index: 1;
  }
  .guy3 {
    width: 70.5%;
  }

  .guy4 {
    margin: 0 auto;
    width: 95%;
  }

  .three h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 4rem;
  }
  h1 {
    font-size: 5rem;
  }
  .second h2 {
    font-size: 8rem;
  }
  .mov {
    position: relative;
    left: 4rem;
  }
  .title {
    margin: 0 auto;
    width: 45rem;
  }
  .expect-options {
    line-height: 0.5;
  }
  h3 {
    font-size: 3.5rem;
  }
  .phone {
    margin: 0 auto;
    width: 35rem;
  }
  .three-left {
    margin-left: 8rem;
  }
}

@media (min-width: 1400px) {
  .guy1 {
    width: 62.5%;
  }

  .phone2 {
    width: 95%;
    margin-top: 2rem;
  }
  .second-p p {
    padding: 1rem;
    line-height: 1.4;
    font-size: 2.2rem;
  }
  .network {
    margin-top: 2rem;
    width: 80%;
  }
  .guy2 {
    width: 85%;
  }
  .phone7 {
    margin: 0 auto;
    width: 85%;
  }

  .phone3 {
    width: 90%;
  }
  .guy5 {
    display: flex;
    justify-content: center;
  }
  .rigth {
    position: relative;
    left: 10rem;
    z-index: 1;
  }
  .guy3 {
    width: 62.5%;
  }
  .seven-first-text {
    padding: 0 4rem;
  }

  .guy4 {
    margin: 0 auto;
    width: 90%;
  }

  h1 {
    font-size: 6rem;

    color: var(--white);
    text-align: center;
    font-weight: 500;
    font-family: "Zen Kaku Gothic Antique", sans-serif !important;
  }
  .btn-first {
    margin-top: 2rem;

    font-size: 2rem;
  }
  .phone {
    margin: 0 auto;
    width: 40rem;
  }
  .prin-targets p {
    height: 25rem;
  }
  .mov {
    position: relative;
    left: 4rem;
  }
  .title {
    margin: 0 auto;
    width: 55rem;
  }
  .phone{
    width: 45rem;
  }
}

@media (min-width: 1600px) {
  .move-f-t {
    height: 125px;
  }
  h1 {
    font-size: 6rem;
  }
  .guy4 {
    margin: 0 auto;
    width: 78%;
  }
  .mov {
    position: relative;
    left: 6rem;
  }
  .title {
    margin: 0 auto;
    width: 60rem;
  }
  .seven-first-text {
    padding: 0;
  }
  .phone3 {
    width: 100%;
  }
  .eight p {
    line-height: 1.5;
  }
  .second h2 {
    font-size: 10rem;
  }
  .prin-targets p {
    font-size: 22px;
    height: 15rem;
  }
  .phone {

    width:55rem;
  }
}
@media (min-width: 1800px) {
  .move-f-t {
    height: 175px;
  }
  .guy4 {
    margin: 0 auto;
    width: 70%;
  }
}
@media (min-width: 1920px) {
  .move-f-t {
    height: 250px;
  }
  .guy4 {
    margin: 0 auto;
    width: 75%;
  }
  .mov {
    position: relative;
    left: 6rem;
  }
  .title {
    margin: 0 auto;
    width: 70rem;
  }
  .phone2 {
    width: 95%;
    margin-top: 2rem;
  }
  .second-p p {
    padding: 1rem;
    line-height: 1.4;
    font-size: 2.2rem;
  }
  .phone {
    margin: 0 auto;
  
  }
}
@media (min-width:2048px){
  .phone {
    margin: 0 auto;
    width: 80rem;
  }
}
@media (min-width:3000px){
  .phone{
    width: 90rem;
  }
}
.contact-container .container{
padding-top: 4rem;
padding-bottom: 4rem;
}
