/*General Styles*/
.title-content {
    margin-bottom: 2rem;
}

.title-content .title-1 h1 {
    font-size: 3em;
    font-weight: 500;
}

.title-content .title-1 h2 {
    font-size: 2em;
    font-weight: bold;
}

.title-content .title-2 h2 {
    font-size: 2.5em;
    font-weight: bold;
}

.title-content .subtitle h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.title-content .subtitle-2 h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.custom-italic h2 {
    font-style: italic;
}

/* First Section */
.first-container {
    background: url("../images/assets-plug/assets-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 6rem !important;
}

.first-container .title-content {
    margin-bottom: 1rem;
}

.first-container .list-content ul {
    margin-top: 1rem;
    list-style: initial;
}

.first-container .button-container a {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--light);
}

.first-container .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--pink);
    color: var(--pink);
}

.first-container .custom-link {
    margin-top: 0.5rem;
}

.first-container .custom-link a {
    color: var(--dark);
    font-size: 16px;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.first-container .custom-link a:hover {
    color: var(--light);
}

/* Second section */
.second-container {
    background: #DBF9FD;
    background: linear-gradient(0deg, #DBF1FA 0%, #DBF9FD 75%);
    position: relative;
}

.second-container .custom-title {
    margin-bottom: 1rem;
}

.second-container .video-content {
    margin-bottom: 3rem;
}

.second-container .title-content .title-1 {
    position: relative;
}

.second-container .title-content .title-1::before {
    background-color: #000;
    bottom: -2px;
    content: "";
    height: 4px;
    left: 5%;
    position: absolute;
    width: 90%;
}

/* Thrid section */
.thrid-container {
    position: relative;
}

.thrid-container .card-content-2 {
    display: none;
    margin-top: 6rem;
}

.thrid-container .card-content-2 .card-body .card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-bottom: 4rem;
    position: relative;
}

.thrid-container .card-content-2 .card-body .card-item:nth-child(2n + 1) {
    margin-right: 10%;
}

.thrid-container .card-content-2 .card-body .card-item .image-content {
    margin-bottom: 2rem;
}

.thrid-container .card-content-2 .card-body .card-item .image-absolute {
    position: absolute;
    left: -30px;
    top: -30px;
    width: 75px;
}

.thrid-container .button-container {
    margin-top: 0;
}

.thrid-container .button-container a {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--light);
}

.thrid-container .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--pink);
    color: var(--pink);
}

/* Fourth section */
.fourth-container {
    background-color: #2E3433;
    color: var(--light);
    position: relative;
}

.fourth-container .title-content {
    margin: 0;
    max-width: 1600px;
}

/* Fourth section new */
.fourth-container-new {
    background: #DFFFFF;
    background: linear-gradient(90deg, #E0F9FF 0%, #DFFFFF 100%);
    position: relative;
}

.fourth-container-new .text-content {
    margin: 1rem 0;
}

.fourth-container-new .button-container a {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--light);
}

.fourth-container-new .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--pink);
    color: var(--pink);
}

/* Fifth section */
.fifth-container {
    background: url(../images/assets-plug/assets-16.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
    padding-bottom: 14rem !important;
}

.fifth-container .absolute-content {
    background-color: var(--light);
    color: var(--dark);
    position: absolute;
    padding: 2rem;
    width: 50%;
    bottom: -25%;
    left: 15%;
}

.fifth-container .absolute-content .text-content {
    position: relative;
    z-index: 2;
}

.fifth-container .absolute-content .text-content::before {
    background-color: var(--light);
    right: 0;
    content: "";
    width: 100px; 
    height: 100px;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    z-index: -1;
}

.fifth-container .image-content {
    width: 90%;
}

/* Sixth section */
.sixth-container {
    position: relative;
    display: none;
}

/* Seventh section */
.seventh-container {
    background-color: var(--pink);
    position: relative;
    color: var(--light);
    display: none;
}

.seventh-container .title-content {
    margin-bottom: 0;
}

.seventh-container .title-content a {
    color: var(--light);
    margin: 0 1rem;
    font-style: italic;
    font-weight: normal;
    position: relative;
}

.seventh-container .title-content a::before {
    background-color: var(--light);
    bottom: -3px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0;
}

.seventh-container .title-content a:hover {
    animation: hoverLink 1.5s ease-in infinite;
}

.seventh-container .title-content a:hover::before {
    left: 0;
    width: 100%;
}

/* Eighth section */
.eighth-container {
    position: relative;
}

.eighth-container .image-content {
    margin-bottom: 3rem;
}

.eighth-container .custom-title h2 {
    font-weight: normal;
}

.eighth-container .text-content {
    background-color: #E0F9FF;
    border-radius: 50px;
    padding: 1rem 3rem;
}

.eighth-container .video-content {
    margin: 3rem 0;
}

/* Nineth section */
.nineth-container {
    background: #009DDC;
    background: linear-gradient(90deg, #009DDC 0%, #00D6EE 75%);
    color: var(--light);
    position:  relative;
}

.nineth-container .custom-title {
    background-color: var(--light);
    color: var(--red);
    border-radius: 75px;
    padding: 1rem;
}

.nineth-container .text-content {
    margin-bottom: 2rem;
}

.nineth-container .button-container a {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--light);
}

.nineth-container .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--pink);
    color: var(--pink);
}

.nineth-container .image-content {
    bottom: -4rem;
    position: absolute;
}

/* Tenth section */
.tenth-container {
    position: relative;
}

.tenth-container .text-content {
    margin-top: 3rem;
}

.tenth-container .button-container a {
    background-color: var(--light-blue-v2);
    border: 2px solid var(--light-blue-v2);
    color: var(--light);
}

.tenth-container .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--light-blue-v2);
    color: var(--light-blue-v2);
}

.tenth-container .absolute-arrow-left {
    position: absolute;
    width: 7%;
    left: 2%;
    top: 50%;
}

.tenth-container .absolute-arrow-right {
    position: absolute;
    width: 7%;
    right: 2%;
    top: 5%;
}

/* Eleventh section */
.eleventh-container {
    background: #DBF9FD;
    background: linear-gradient(0deg, #DBF1FA 0%, #DBF9FD 75%);
    position: relative;
    display: none;
}

.eleventh-container .card-content {
    width: 100%;
    margin: 3rem 0;
}

.eleventh-container .card-content {
    width: 100%;
    margin-top: 3rem;
}

.eleventh-container .card-content .nav {
    align-items: center;
    justify-content: center;
}

.eleventh-container .card-content .nav .nav-link {
    background: #000 !important;
    padding: 1rem 2rem !important;
    color: #fff !important;
    font-weight: 500 !important;
}

.eleventh-container .card-content .nav .nav-link.active {
    background: rgb(0,155,219) !important;
    background: linear-gradient(90deg, rgba(0,155,219,1) 0%, rgba(0,216,240,1) 75%) !important;
}

.eleventh-container .card-content .tab-content {
    background-color: var(--light);
    border: 3px solid #ccc;
    padding: 2rem 0;
}

.eleventh-container .card-content .tab-content .custom-pane {
    padding: 3rem;
}

.eleventh-container .card-content .tab-content .custom-card-body {
    background-color: #F6F6F6;
    border-radius: 50px;
    padding: 2rem;
}

.eleventh-container .card-content .tab-content .custom-card-body .image-content-2 {
    width: 30%;
}

.eleventh-container .custom-title {
    margin-bottom: 0;
}

.eleventh-container .button-container a {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--light);
}

.eleventh-container .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--pink);
    color: var(--pink);
}

.eleventh-container .custom-link {
    margin-top: 1rem;
}

.eleventh-container .custom-link a {
    color: var(--dark);
    transition: all 0.3 ease-in-out;
    position: relative;
}

.eleventh-container .custom-link a:hover {
    color: var(--pink);
}

.eleventh-container .custom-link a::before {
    background-color: var(--dark);
    bottom: -1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.eleventh-container .custom-link a:hover::before {
    background-color: var(--pink);
    left: -5%;
    width: 110%;
}

/* Twelfth section */
.twelfth-container {
    position: relative;
}

.twelfth-container .card-content {
    margin: 2rem 0;
}

.twelfth-container .text-content {
    margin-left: 2rem;
}

.twelfth-container .button-container a {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--light);
}

.twelfth-container .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--pink);
    color: var(--pink);
}

/* Thirteenth section */
.thirteenth-container {
    position: relative;
}

.thirteenth-container .custom-link {
    margin-top: 1rem;
}

.thirteenth-container .image-content {
    margin: 2rem 0;
}

.thirteenth-container .custom-link a {
    color: var(--dark);
    transition: all 0.3 ease-in-out;
    position: relative;
}

.thirteenth-container .custom-link a:hover {
    color: var(--pink);
}

.thirteenth-container .custom-link a::before {
    background-color: var(--dark);
    bottom: -1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.thirteenth-container .custom-link a:hover::before {
    background-color: var(--pink);
    left: -5%;
    width: 110%;
}

.thirteenth-container .button-container a {
    background: #009DDC;
    background: linear-gradient(90deg, #009DDC 0%, #00D6EE 75%);
    color: var(--light);
}

.thirteenth-container .button-container a:hover {
    color: transparent;
    background: linear-gradient(90deg, #009DDC 0%, #00D6EE 75%);
    background-clip: text;
    transition: all 0.3s ease-in-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thirteenth-container .custom-title {
    margin-top: 5rem;
}

.thirteenth-container .card-body .card-item {
    width: 23%;
    padding: 2rem;
    margin-right: 2%;
    border: 2px solid #333;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.thirteenth-container .card-body .card-item:last-child {
   margin-right: 0;
}

.thirteenth-container .card-body .card-item .custom-card-image {
    width: 50%;
    margin-bottom: 1rem;
}

.thirteenth-container .card-body .card-item .custom-card-item {
    position: absolute;
    right: -63px;
    top: calc(50% - 45px);
    width: 100px;
    z-index: 2;
}

/* Fourteenth section */
.fourteenth-container {
    background: url("../images/assets-plug/assets-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
    position: relative;
    padding: 8rem 0 !important;
}

.fourteenth-container .custom-title-content {
    margin-bottom: 0;
}

.fourteenth-container .custom-title {
    position: relative;
    padding: 0 1rem;
}

.fourteenth-container .custom-title h2 {
    margin: 0;
}

.fourteenth-container .custom-title::before {
    background-color: var(--light);
    border-radius: 50%;
    content: "";
    height: 20px;
    left: -30px;
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
}

.fourteenth-container .custom-title::after {
    background-color: var(--light);
    border-radius: 50%;
    content: "";
    height: 20px;
    right: -30px;
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
}

.fourteenth-container .text-content {
    margin-top: 3rem;
}

.fourteenth-container .button-container a {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--light);
}

.fourteenth-container .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--pink);
    color: var(--pink);
}

/* Fifteenth section */
.fifteenth-container {
    background-color: #2E3433;
    color: var(--light);
    position: relative;
}

.fifteenth-container .text-content {
    margin: 1rem 0;
}

.fifteenth-container .text-content p {
    margin-bottom: 2rem;
}

.fifteenth-container .image-content {
    width: 30%;
    margin: 1rem 0;
}

.fifteenth-container .button-container a {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: var(--light);
}

.fifteenth-container .button-container a:hover {
    background-color: var(--light);
    border: 2px solid var(--pink);
    color: var(--pink);
}

/* FAQ section */
.faq-container {
    background: #DBF9FD;
    background: linear-gradient(0deg, #DBF1FA 0%, #DBF9FD 75%);
    position: relative;
}

.faq-container .faq-content {
    background-color: var(--light);
    padding: 2rem;
}

.faq-container .faq-content .accordion-item {
    border: 1px solid var(--light-blue-v2);
    margin-bottom: 1rem;
}

.faq-container .faq-content .accordion-button {
    color: var(--light-blue);
    font-size: 24px;
    font-weight: 500;
}

.faq-container .faq-content .accordion-button:not(.collapsed) {
    box-shadow: none;
}

/* Accordion section */
.accordion-container {
    background: url("../images/assets-plug/assets-16.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
    cursor: pointer;
    position: relative;
}

/* Accordion item section */
.accordion-item-container {
    position: relative;
    max-height: 0;
    transition: all 0.3s ease-in-out;
}

.accordion-item-container ul {
    list-style: initial;
    margin-bottom: 0;
}

.accordion-item-container ul li {
    margin-bottom: 1rem;
}

.custom-accordion-active {
    max-height: 100rem !important;
}




/* Animation */
@keyframes hoverLink {
    0%, 100% {
        margin: 0 1rem;
    }
    50% {
        margin: 0 2rem;
    }
}