/* Root */
:root {
    --light: #fff;
    --dark: #000;
    --pink: #ea00ff;
    --light-blue: #009bdb;
    --light-blue-v2: #00D8EF;
    --red: #ff0000;
    --dark-v2: #2d2d2d;
}

/*General Styles*/
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    width: 100%;
}

input {
    outline: none;
}

#body {
    font-size: 24px;
}

#body section {
    padding: 4rem 0;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
}

.custom-w-100 {
    width: 100%;
}

.custom-w-75 {
    width: 75%;
}

.custom-w-60 {
    width: 60%;
}

.custom-w-50 {
    width: 50%;
}

.custom-pink-color,
.custom-pink-color h2,
.custom-pink-color h3,
.custom-pink-color h1 {
    color: var(--pink) !important;
}

.custom-blue-color,
.custom-blue-color h2,
.custom-blue-color h3,
.custom-blue-color h1 {
    color: var(--light-blue) !important;
}

section[id],
div[id] {
    scroll-margin-top: 10rem;
}

/* style general button */

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-container a {
    background-color: #00dcff;
    border: 2px solid #00dcff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 5rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.button-container a:hover {
    background-color: #fff;
    color: #00dcff;
}

.button-container a:active {
    animation: pressButton 0.3s ease-in-out;
}

/* Nav Menu */
.custom-nav {
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.custom-bar {
    background-color: #000;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 35px;
    align-items: center;
}

.custom-bar .custom-bar-body {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
}

.custom-bar .custom-bar-list {
    display: flex;
    justify-content: flex-end;
}

.custom-bar .custom-bar-item {
    padding: 0 2rem;
}

.custom-bar .custom-bar-item a {
    color: #fff;
    font-size: 16px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.custom-bar .custom-bar-item a::before {
    background-color: #fff;
    content: "";
    bottom: -5px;
    left: 50%;
    height: 3px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0;
}

.custom-bar .custom-bar-item a:hover::before {
    left: 0;
    width: 100%;
}

.custom-nav-body {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.custom-nav-right {
    width: 20%;
}

.custom-nav-left {
    display: flex;
    align-items: center;
    width: 80%;
}

.custom-nav-list {
    width: 100%;
}

.custom-nav-list .desktop-view {
    display: flex;
}

.custom-nav-list .mobile-view {
    display: none;
}

.custom-nav-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.custom-nav-item {
    padding: 0 2rem;
    position: relative;
}

.custom-nav-item .custom-burger-item {
    background-color: #fff;
    border-radius: 10px;
    display: none;
    left: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.custom-item-toggle .toggle-item::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid rgb(209, 209, 209);
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transition: all 0.3s ease-in-out;
}

.custom-item-toggle:hover .toggle-item::after {
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid rgb(209, 209, 209);
    border-left: 0.3em solid transparent;
}

.custom-item-toggle:hover .custom-burger-item {
    display: block;
}

.custom-item-toggle:hover .custom-burger-item:hover {
    display: block;
}

.custom-nav-item .custom-burger-item li:last-child a {
    margin-bottom: 0 !important;
}

.custom-nav-item a {
    color: rgb(209, 209, 209);
    font-size: 20px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.custom-nav-item a:hover {
    color: #fff;
}

.custom-nav-item a::before {
    background-color: rgb(209, 209, 209);
    bottom: -2px;
    content: "";
    left: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0;
    height: 3px;
}

.custom-nav-item a:hover::before {
    left: 0;
    width: 100%;
}

.custom-nav .active a {
    color: #fff !important;
    font-weight: bold;
}

.custom-nav .active a::before {
    background-color: rgb(209, 209, 209);
    bottom: -2px;
    content: "";
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 3px;
}

.custom-nav .active a:hover::before {
    background-color: #fff;
    bottom: -2px;
    content: "";
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 3px;
}

.custom-nav .custom-nav-item .custom-burger-item li {
    display: flex;
    justify-content: center;
}

.custom-nav .custom-nav-item .custom-burger-item li a {
    color: #555 !important;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0 0.5rem;
}

.custom-nav .custom-nav-item .custom-burger-item li a:hover {
    color: #000 !important;
}

.custom-nav .custom-nav-item .custom-burger-item li a:hover::before {
    background-color: #000;
    bottom: -2px;
    content: "";
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 3px;
}

.custom-menu-responsive {
    display: none;
}

.menu-button-container {
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.sticky {
    animation: mymove 1s ease-in-out;
    background: rgba(0,155,219, 1);
    position: fixed;
    padding: 1rem 0;
    padding-top: 0;
}

.sticky .custom-nav-list {
    flex-direction: row;
}

/* Secondary menu */
.secondary-menu-left {
    position: fixed;
    left: 0;
    top: calc(50vh - 125px);
    z-index: 999;
}

.secondary-menu-active {
    top: calc(50vh - 268px) !important;
}

.secondary-menu-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondary-menu-body .secondary-menu-name {
    background-color: #EA00FF;
    align-items: center;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    height: 250px;
    transition: all 0.5s ease-in-out;
}

.secondary-menu-active .secondary-menu-name {
    height: 537px !important;
}

.secondary-menu-body .secondary-menu-name p {
    margin: 0;
    transform: rotate(-90deg);
}

.secondary-menu-body .secondary-menu-mobile-icon {
    display: none;
}

.secondary-menu-body .secondary-menu-content {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    padding: 1rem;
}

.secondary-menu-body .secondary-menu-list {
    padding: 0;
    margin: 0;
}

.secondary-menu-body .secondary-menu-item {
    padding: 1rem;
    border-bottom: 1px solid #C664F8;
}

.secondary-menu-body .secondary-menu-item:last-child {
    padding: 1rem;
    border-bottom: none
}

.secondary-menu-body .secondary-menu-item a {
    color: #777;
    font-size: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.secondary-menu-body .secondary-menu-item a::before {
    background-color: rgb(151, 151, 151);
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    bottom: -5%;
    transition: all 0.3s ease-in-out;
    width: 0;
}

.secondary-menu-body .secondary-menu-item a:hover {
    color: #333;
}

.secondary-menu-body .secondary-menu-item a:hover::before {
    left: 0;
    width: 100%;
}



/* contact section
    background: rgb(0,155,219);
    background: linear-gradient(0deg, rgba(0,155,219,1) 0%, rgba(0,216,240,1) 75%);
*/
.contact-container {
    background: url("../images/assets-animation/22.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
    position: relative;
    padding: 8rem 0 !important;
    overflow: hidden;
}

.contact-container .title-content {
    margin-bottom: 0 !important;
}

.contact-container .title-content h3 {
    font-size: 4em;
    font-weight: bold;
}

.contact-container .text-content {
    color: #333;
    line-height: 1.2em;
    margin-top: 2rem;
    position: relative;
}

.contact-container .text-content::before {
    background-color: #000;
    content: "";
    height: 4px;
    left: 10%;
    position: absolute;
    top: -1.5rem;
    width: 80%;
}

.contact-container .text-content::after {
    background-color: #000;
    content: "";
    height: 4px;
    left: 10%;
    position: absolute;
    bottom: -0.5rem;
    width: 80%;
}

.contact-container .image-absolute {
    position: absolute;
    width: 45%;
    right: -2%;
    bottom: -2%;
    z-index: -1;
}

.contact-container .input-body {
    margin-left: 2rem;
    margin-top: 1rem;
}

.contact-container .input-container {
    width: 100%;
}

.contact-container .custom-input {
    border: 3px solid rgb(224, 224, 224);
    color: rgb(211, 211, 211);
    background-color: transparent;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 75px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.contact-container .custom-input:hover {
    padding-left: 2rem;
}

.contact-container .custom-input:focus {
    color: #fff;
}

.contact-container .custom-input::placeholder {
    color: rgb(224, 224, 224);
}

.contact-container .button-container {
    margin-top: 0;
}

.contact-container .button-container a {
    border: 2px solid #2d2d2d;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    width: 100%;
}

.contact-container .button-container a:hover {
    border: 2px solid #2d2d2d;
    background-color: #fff;
    color: #2d2d2d;
}

/* Info section */
.info-container {
    background-color: #DCF3FA;
    color: #333;
    font-size: 20px;
}

.info-container .image-info {
    width: 80%;
}

.info-container .title-info h4 {
    font-size: 32px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.info-container .info-body {
    padding: 1rem;
}

.info-container .icon-content .icon-item {
    background-color: #2d2d2d;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 25px;
    margin-right: 1rem;
    padding: 1rem;
    width: 25px;
}

.info-container .icon-content .icon-item a {
    display: flex;
}

.info-container .icon-content .icon-item span {
    color: #fff;
    font-size: 16px;
}

.info-container .info-item{
    margin-bottom: 1rem;
}

.info-container .info-item p {
    margin-left: 1rem;
    margin-bottom: 0;
}

.info-container .nav-footer {
    padding-left: 0;
}

.info-container .nav-footer .nav-footer-item {
    margin: 1rem 0;
}

.info-container .nav-footer .nav-footer-item a {
    color: #333;
    position: relative;
}

.info-container .nav-footer .nav-footer-item a::before {
    background-color: #333;
    bottom: -6px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0;
}

.info-container .nav-footer .nav-footer-item a:hover::before {
    left: 0;
    width: 100%;
}

.info-container .icon-content {
    margin-bottom: 1rem;
}

/* Footer */
.custom-footer {
    background-color: #333;
    font-size: 12px;
}

.custom-footer .custom-footer-container,
.custom-footer-terms {
    padding: 1rem 0;
}

.custom-footer .custom-footer-container p,
.custom-footer a {
    color: #fff;
    margin: 0 !important;
    text-decoration: none;
}

.custom-footer .terms-list a {
    margin-right: 1rem !important;
}


/* Testimonial section */
.testimonial-container {
    position: relative;
}

.testimonial-container .title-content {
    margin-bottom: 0 !important;
}

.testimonial-container .video-content {
    width: 90%;
    border-radius: 25px;
    margin: 3rem 0;
    position: relative;
}

.testimonial-container .video-content .video-slider .owl-dots {
    display: none;
}

.testimonial-container .video-item {
    margin: 0 auto;
    width: 90%;
}

.testimonial-container .video-content video {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 25px;
}

.testimonial-container .custom-card {
    width: 70%;
    margin-left: 5%;
    font-size: 16px;
}

.testimonial-container .custom-card-image {
    width: 25%;
}

.testimonial-container .custom-card-image img {
    border-radius: 50%;
}

.testimonial-container .custom-card-stars {
    margin-bottom: 0.5rem;
}

.testimonial-container .custom-card-stars span {
    color: #E6A300;
}

.testimonial-container .custom-card-footer {
    font-size: 20px;
}

.testimonial-container .custom-slide-card {
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 15px;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    box-shadow: 1px 1px 20px 10px rgba(190, 190, 190, 0.4);
}

.testimonial-container .owl-stage .owl-item:nth-child(2n) .custom-slide-card {
    transform: translateY(-5%);
}

.testimonial-container .owl-stage .owl-item:nth-child(2n+1) .custom-slide-card {
    transform: translateY(5%);
}

.testimonial-container .custom-slide-container .owl-stage-outer {
    overflow: visible !important;
}

.testimonial-container .arrow-left {
    position: absolute;
    top: calc(50% - 48px);
    left: -5%;
}

.testimonial-container .arrow-right {
    position: absolute;
    top: calc(50% - 48px);
    right: -5%;
}

.testimonial-container .arrow-left span,
.testimonial-container .arrow-right span {
    color: #00dcff;
    font-size: 3em;
    transition: all 0.3s ease-in-out;
}

.testimonial-container .arrow-left span:hover,
.testimonial-container .arrow-right span:hover {
    color: #EA00FF;
}

.testimonial-container .owl-dots span {
    background: transparent !important;
}

.testimonial-container .owl-dots .active span {
    background: transparent !important;
}

.testimonial-container .owl-dots span:hover {
    background: transparent !important;
}


/* Responsive */
@media (max-width: 1399px) {
   
}

@media (max-width: 1199px) {
    #body {
        font-size: 18px;
    }

    .custom-nav-buttons a {
        font-size: 15px;
    }

    .contact-container {
        padding: 5rem 0 !important;
        font-size: 18px;
    }

    .info-container .title-info h4 {
        font-size: 24px;
    }

    .testimonial-container .arrow-right,
    .testimonial-container .arrow-left {
        top: calc(50% - 40px);
    }
}

@media (max-width: 991px) {
    #body section {
        padding: 2rem 0;
    }

    .custom-box-1 {
        order: 2;
    }

    .custom-box-2 {
        order: 1;
        align-items: center;
        margin-top: 0;
    }

    .custom-w-75 {
        width: 90%;
    }
    
    .custom-w-60 {
        width: 80%;
    }
    
    .custom-w-50 {
        width: 70%;
    }

    .logo {
        margin-right: 0;
        width: 250px;
    }

    .custom-nav-body,
    .custom-bar .custom-bar-body {
        padding: 0;
    }

    .custom-bar .custom-bar-list {
        justify-content: space-between;
        width: 100%;
    }

    .custom-menu-responsive {
        display: flex;
    }

    .menu-button-container {
        display: flex;
    }

    #menu-toggle {
        display: none;
    }

    .show-menu {
        display: block;
    }

    .custom-nav-left {
        width: auto;
    }

    .custom-nav-buttons {
        width: 100%;
        justify-content: space-around;
        margin-top: 2rem;
    }

    .custom-nav-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .custom-nav-buttons a {
        font-size: 20px;
        padding: 1rem 2rem;
    }

    .custom-nav-list .desktop-view {
        display: none;
    }

    .custom-nav-list .mobile-view {
        display: flex;
    }

    .custom-nav-list {
        background-color: rgb(0,155,219);
        display: none;
        position: absolute;
        top: 7rem;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
    }

    .sticky .custom-nav-list {
        top: 5rem;
    }

    #menu-toggle ~ .custom-nav-list li a {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .custom-nav-list li a {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .custom-nav-list > li a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: rgb(209, 209, 209);
    }

    .custom-nav-list > li:not(:last-child) a {
        border-bottom: 1px solid rgb(209, 209, 209);
    }

    .custom-nav-right {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 98%;
        padding: 0 3rem;
    }

    .custom-nav-item {
        padding: 1rem 0;
    }

    .custom-nav-item a:hover {
        color: #fff;
    }
    
    .custom-nav-item a::before {
        background-color: rgb(209, 209, 209);
    }

    .custom-nav .custom-nav-item .custom-burger-item {
        left: -50%;
        width: 200%;
    }

    .custom-nav .dropdown-toggle::after {
        margin-top: 12px;
        height: 15px;
    }

    .contact-container .input-body {
        margin-top: 3rem;
        margin-left: 0;
    }

    .contact-container .image-absolute {
        right: -20%;
        bottom: 0;
    }

    .contact-container .title-content h3 {
        text-align: center;
    }

    .secondary-menu-left {
        top: 0;  
    }

    .secondary-menu-body .secondary-menu-name {
        font-size: 24px;
    }

    .secondary-menu-body .secondary-menu-name p {
        display: none;
    }
    
    .secondary-menu-body .secondary-menu-mobile-icon {
        display: block;
    }

    .secondary-menu-body .secondary-menu-mobile-icon span {
        font-size: 60px;
        padding: 0 1rem;
    }

    .secondary-menu-body .secondary-menu-content {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .secondary-menu-body .secondary-menu-list {
        text-align: center;
        margin-top: 4.5rem;
    }

    .secondary-menu-body .secondary-menu-name {
        z-index: 2;
        height: 74px;
        margin-top: calc(50vh - 37px);
    }

    .secondary-menu-active .secondary-menu-name {
        z-index: 2;
        height: 74px !important;
        margin-top: 0;
        width: 100vw;
        justify-content: center;
    }

    .secondary-menu-body .secondary-menu-name .close{
        display: none;
    }

    .secondary-menu-active {
        top: 0 !important;
    }

    .secondary-menu-active .close {
        display: block !important;
    }

    .secondary-menu-active .open {
        display: none;
    }
}

@media (max-width: 767px) {
    #body {
        font-size: 16px;
    }

    .logo {
        width: 200px;
    }

    .custom-nav {
        padding-left: 0;
        padding-right: 0;
    }

    .button-container {
        margin-top: 1rem;
    }

    .contact-container {
        font-size: 16px;
        padding: 2rem 0 !important;
    }

    .contact-container .title-content h3 {
        font-size: 3em;
    }

    .contact-container .input-container {
        flex-direction: column;
    }

    .contact-container::before {
        bottom: -15%;
    }

    .info-container .info-body {
        text-align: center;
    }

    .info-container .image-info {
        margin: 0 auto;
    }

    .info-container .icon-content,
    .info-container .info-item {
        justify-content: center;
    }

    .custom-footer-body {
        flex-direction: column;
        justify-content: center !important;
    }

    .custom-footer .custom-footer-container, .custom-footer-terms {
        display: flex;
        justify-content: center;
    }

    .custom-footer .custom-footer-container {
        order: 2;
    }

    .custom-footer .custom-footer-terms {
        padding-bottom: 0;
        order: 1;
    }

    .testimonial-container .custom-slide-container .container {
        padding: 0;
    }

    .sticky .custom-nav-list {
        top: 6.5rem;
    }
}

@media (max-width: 575px) {
    .custom-w-75 {
        width: 95%;
    }
    
    .custom-w-60 {
        width: 90%;
    }
    
    .custom-w-50 {
        width: 80%;
    }

    .contact-container .custom-w-60 {
        width: 75%;
    }

    .button-container a {
        padding: 1rem 3rem;
    }

    .custom-nav-right {
        padding: 0 1rem;
    }

    .testimonial-container .video-content {
        width: 90%;
    }

    .testimonial-container .arrow-right,
    .testimonial-container .arrow-left {
        top: calc(50% - 24px);
    }

    .testimonial-container .arrow-left span, 
    .testimonial-container .arrow-right span {
        font-size: 2em;
    }

    .testimonial-container .arrow-right {
        right: -7%;
    }

    .testimonial-container .arrow-left {
        left: -7%;
    }

    .contact-container {
        padding: 2rem !important;
    }

    .meet-container .mobile-view {
        width: 90%;
    }
}

@media (max-width: 425px) {
    .custom-footer .terms-list a {
        margin-right: 0.5rem !important;
    }

    .secondary-menu-body .secondary-menu-mobile-icon span {
        font-size: 40px;
    }
}

@media ( min-width: 992px ) {
    .custom-nav-list {
        display: flex !important;
    }
}

/* Animations */
@keyframes pressButton {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

@keyframes mymove {
    from {
      top: -10%;
    }
    to {
      top: 0%;
    }
}