/*General Styles*/
.title-content .title-1 h3 {
    font-size: 2.5em;
    font-weight: 500;
}

.title-content .title-2 h2 {
    font-size: 5em;
    font-weight: bold;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.owl-dots span {
    background: none repeat scroll 0 0 rgb(201, 201, 201);
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    width: 12px;
}

.owl-dots .active span {
    background: none repeat scroll 0 0 #fff;
    opacity: 1;
}

.owl-dots span:hover {
    background: none repeat scroll 0 0 #fff;
    opacity: 1;
}

/*Section 1*/
.first-container {
    background: url("../images/Assets-Home/2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem !important;
    padding-bottom: 0 !important;
    position: relative;
    overflow: hidden;
}

.first-container::before {
    background: url("../images/assets-animation/ondas-azules.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -60%;
    content: "";
    left: 0;
    height: 105%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.first-container .container {
    padding: 0;
}

.first-container .custom-box-2 {
    margin-top: 8rem;
}

.first-container .title-content h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
}

.first-container .buttons-content {
    margin-top: 4rem;
}

.first-container .buttons-content .button-2 a {
    background-color: #2D2D2D;
    border: 2px solid #2D2D2D;
    border-radius: 60px;
    color: #fff;
    margin: 0 1rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.first-container .buttons-content .button-2:hover a {
    border: 2px solid #fff;
}

/* Second Section */
.second-container {
    background: url("../images/assets-animation/2.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15% !important;
    position: relative;
}

.second-container .title-content {
    display: flex;
    width: 100%;
}

.second-container .title-content h2 {
    color: #B224EF;
}

.second-container .text-content {
    margin-top: 3rem;
}

.second-container .text-content .title {
    text-align: center;
}

.second-container .text-content .title h4 {
    font-size: 28px;
    font-weight: bold;
}

.second-container .text-content .text-body {
    padding: 2rem 2rem;
}

.second-container .custom-text {
    color: #009BDB;
    font-weight: bold;
    text-align: center;
}

.second-container .video-content {
    width: 100%;
}

/* third section */
.thrid-container {
    margin-top: -15%;
    position: relative;
}

.thrid-container .title-content {
    width: 100%;
}

.thrid-container .card-content {
    margin-top: 3rem;
}

.thrid-container .custom-title-1 {
    color: #009BDB;
}

.thrid-container .custom-title-2 {
    color: #00d8f0;
}

.thrid-container .card-text {
    margin-top: 2rem;
}

.thrid-container .card-text ol {
    list-style: initial !important;
}

.thrid-container .card-text ol li {
    margin-bottom: 1rem;
}

/* fourth section */
.fourth-container {
    background: url("../images/assets-animation/6.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -15%;
    padding-top: 20% !important;
}

.fourth-container .title-content {
    display: flex;
    width: 80%;
}

.fourth-container .title-content h2 {
    color: #B224EF;
    font-weight: bold;
}

.fourth-container .custom-title-1 h3 {
    font-weight: bold;
}

.fourth-container .text-content {
    margin-top: 3rem;
}

.fourth-container .custom-text {
    color: #009BDB;
    font-weight: bold;
    text-align: center;
}

.fourth-container .video-content {
    width: 100%;
}

.fourth-container .button-container {
    margin-top: 0;
}

.fourth-container .button-container a {
    background-color: #2D2D2D;
    border: 2px solid #2D2D2D;
    color: #fff;
}

.fourth-container .button-container a:hover {
    background-color: #fff;
    color: #2D2D2D;
}

/* Fifth section */

.fifth-container {
    background-color: #BDF1F9;
    position: relative;
}

.fifth-container .title-content h2 {
    color: #EA00FF;
}

.fifth-container .video-content {
    margin: 5rem 0;
    width: 100%;
}

.fifth-container .video-content .video-item video {
    border-radius: 25px;
    position: relative;
}

.fifth-container .video-content .video-item {
    position: relative;
}

.fifth-container .video-content .video-item::before {
    background-color: #000;
    border-radius: 25px;
    content: "";
    height: 100%;
    left: 1%;
    position: absolute;
    top: 1%;
    width: 100%;
}

.fifth-container .button-container a {
    background-color: #B224EF;
    border: 2px solid #B224EF;
}

.fifth-container .button-container a:hover {
    background-color: #fff;
    color: #B224EF;
}

/* sixth section */
.sixth-container {
    position: relative;
}

.testimonial-container .title-content .title-1 h3 {
    font-size: 4em;
}

/* Seventh section */
.seventh-container {
    position: relative;
}

.seventh-container .title-content {
    width: 50%;
}

.seventh-container .title-content .title-2 h2 {
    color: #B224EF;
    line-height: 3rem;
}

.seventh-container .title-content .title-1 h3 {
    margin-top: 1rem;
}

/* Eighth section */
.eighth-container {
    background-color: #2D2D2D;
    color: #fff;
    margin-bottom: 3rem;
    position: relative;
}

.eighth-container .container-fluid .row {
    justify-content: space-around;
    width: 100%;
}

.eighth-container .card-title-2 {
    position: relative;
    z-index: 2;
}

.eighth-container .card-title-2::before {
    background-color: #00dcff;
    content: "";
    left: 0;
    height: 10px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
}

.eighth-container .card-title-2 h4 {
    background-color: #2D2D2D;
    padding-left: 1rem;
}

.eighth-container .card-title-1 h4,
.eighth-container .card-title-2 h4 {
    font-size: 2.2em;
}

.eighth-container .card-text {
    color: rgb(201, 201, 201);
    text-align: center;
    margin: 2rem 0;
}

.eighth-container .video-content {
    width: 90%;
    border-radius: 25px;
    margin: 3rem 0;
    position: relative;
}

.eighth-container .video-item {
    margin: 0 auto;
    width: 90%;
}

.eighth-container .video-content video {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
}

.eighth-container .arrow-left {
    position: absolute;
    top: 25%;
    left: -5%;
    z-index: 2;
}

.eighth-container .arrow-right {
    position: absolute;
    top: 25%;
    right: -5%;
    z-index: 2;
}

.eighth-container .arrow-left span,
.eighth-container .arrow-right span {
    color: #00dcff;
    font-size: 2em;
    transition: all 0.3s ease-in-out;
}

.eighth-container .arrow-left span:hover,
.eighth-container .arrow-right span:hover {
    font-size: 2.2em;
}

.eighth-container .button-container a {
    padding: 1rem 3rem;
}

/* nineth section */
.nineth-container {
    background-color: #2D2D2D;
    color: #fff;
    margin-bottom: 3rem;
    position: relative;
}

.nineth-container .container-fluid .row {
    justify-content: space-around;
    width: 100%;
}

.nineth-container .card-title-2 {
    position: relative;
    z-index: 2;
}

.nineth-container .card-title-2::before {
    background-color: #B224EF;
    content: "";
    left: 0;
    height: 10px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
}

.nineth-container .card-title-2 h4 {
    background-color: #2D2D2D;
    padding-left: 1rem;
}

.nineth-container .card-title-1 h4,
.nineth-container .card-title-2 h4 {
    font-size: 2em;
}

.nineth-container .card-text {
    color: rgb(201, 201, 201);
    text-align: center;
    margin: 2rem 0;
}

.nineth-container .video-content {
    width: 90%;
    border-radius: 25px;
    margin: 3rem 0;
    position: relative;
}

.nineth-container .video-item {
    margin: 0 auto;
    width: 90%;
}

.nineth-container .video-content video {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
}

.nineth-container .arrow-left {
    position: absolute;
    top: 25%;
    left: -5%;
    z-index: 2;
}

.nineth-container .arrow-right {
    position: absolute;
    top: 25%;
    right: -5%;
    z-index: 2;
}

.nineth-container .arrow-left span,
.nineth-container .arrow-right span {
    color: #B224EF;
    font-size: 2em;
    transition: all 0.3s ease-in-out;
}

.nineth-container .arrow-left span:hover,
.nineth-container .arrow-right span:hover {
    font-size: 2.2em;
}

.nineth-container .button-container a {
    background-color: #B224EF;
    border: 2px solid #B224EF;
    padding: 1rem 3rem;
}

.nineth-container .button-container a:hover {
    background-color: #fff;
    color: #B224EF;
}

/* Tenth section */
.tenth-container {
    position: relative;
}

.tenth-container::before {
    background-color: #DCF4FB;
    content: "";
    height: 60%;
    left: 0;
    position: absolute;
    top: 15%;
    width: 100%;
    z-index: -1;
}

.tenth-container .title-content .title-1 h3 {
    font-size: 1.5em;
    margin-top: 0.5rem;
}

.tenth-container .title-content .title-2 h2 {
    color: #009BDB;
    font-size: 2.7em;
    line-height: 0.6em;
}

.tenth-container .text-content {
    margin-top: 3rem;
}

.tenth-container .text-content-color {
    background-color: #00dcff;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 3rem;
    padding: 1rem 2rem;
    text-align: center;
}

/* Eleventh section */
.eleventh-container {
    background: url("../images/assets-animation/17.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 10rem !important;
    margin-bottom: 5rem;
}

.eleventh-container::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.eleventh-container .title-content .title-2 h2 {
    color: #EA00FF;
    font-size: 2.5em;
}

.eleventh-container .title-content .title-1 h3 {
    color: #fff;
    font-size: 1.5em;
}

.eleventh-container .card-container {
    bottom: -150%;
    position: absolute;
}

.eleventh-container .card-container .container {
    padding: 0;
}

.eleventh-container .card-color {
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    width: 30%;
    margin-right: 4%;
    box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 20%);
}

.eleventh-container .card-container .container .row .card-color:last-child {
    margin-right: 0;
}

.eleventh-container .card-body {
    padding: 1rem 0;
}

.eleventh-container .card-image {
    align-items: center;
    display: flex;
    width: 30%;
    padding-right: 8px;
}

.eleventh-container .card-text {
    align-items: center;
    display: flex;
    width: 70%;
}

.eleventh-container .card-text p {
    line-height: 1.2em;
    margin: 0;
}

/* Twelfth section */
.twelfth-container {
    margin-top: 6rem;
    position: relative;
}

.twelfth-container::before {
    background-color: #DCF4FB;
    content: "";
    height: 80%;
    left: 0;
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: -1;
}

.twelfth-container .title-content .title-1 h3 {
    font-size: 1.5em;
    margin-top: 0.5rem;
}

.twelfth-container .title-content .title-2 h2 {
    color: #009BDB;
    font-size: 2.7em;
    line-height: 0.6em;
}

.twelfth-container .text-content {
    margin-top: 2rem;
}

.twelfth-container .text-content-color {
    background-color: #00dcff;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}

.twelfth-container .text-content-color p {
    margin: 0;
}

/* thirteenth section */
.thirteenth-container {
    background: url("../images/assets-animation/13.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.thirteenth-container .title-content .title-1 h3 {
    position: relative;
}

.thirteenth-container .title-content .title-1:nth-child(1) h3::before {
    background: url("../images/assets-animation/14.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    left: -25%;
    height: 250px;
    position: absolute;
    top: -100%;
    width: 50%;
}

.thirteenth-container .title-content .title-1:nth-child(1) h3::after {
    background: url("../images/assets-animation/15.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    right: -33%;
    height: 175px;
    position: absolute;
    top: -80%;
    width: 35%;
}

.thirteenth-container .custom-title-1 h3 {
    color: #fff;
}

.thirteenth-container .text-content {
    color: #fff;
    margin-top: 3rem;
    padding-left: 5rem;
}

.thirteenth-container .list-content {
    margin-top: 4rem;
    padding-left: 3rem;
}

.thirteenth-container .list-content p {
    margin: 0;
}

.thirteenth-container .list-body {
    margin-bottom: 4rem;
}

.thirteenth-container .list-item {
    background-color: #fff;
    border-bottom-left-radius: 75px;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    margin-right: 1rem;
}

.thirteenth-container .list-text {
    align-items: center;
    color: #009BDB;
    display: flex;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.thirteenth-container .list-image {
    background-color: #333;
    display: flex;
    width: 20%;
}

.thirteenth-container .list-image .image-list-content {
    width: 100%;
}

.thirteenth-container .image-content {
    bottom: -7%;
    right: 0%;
    position: absolute;
    width: 125%;
}

/* Responsive */

@media (max-width: 1399px) {
    .first-container .buttons-content {
        margin-top: 2rem;
    }

    .seventh-container .title-content {
        width: 60%;
    }

    .eleventh-container .card-container {
        bottom: -175%;
    }

    .thirteenth-container .list-content {
        padding-left: 0;
    }
}

@media (max-width: 1199px) {
    .first-container .custom-box-2 {
        margin-top: 5rem;
    }

    .second-container .text-content .title h4 {
        font-size: 24px;
    }

    .eighth-container .card-title-2::before {
        height: 5px;
    }

    .testimonial-container .title-content .title-1 h3 {
        font-size: 3em;
    }
}

@media (max-width: 991px) {
    .first-container .custom-box-2 {
        margin-top: 0;
    }

    .title-content {
        margin-top: 2rem;
    }

    .title-content .title-1 h3 {
        font-size: 2em;
    }

    .title-content .title-2 h2 {
        font-size: 4em;
    }

    .first-container::before {
        left: -75%;
        width: 200%;
    }

    .second-container .image-content,
    .fourth-container .image-content,
    .thirteenth-container .image-content {
        position: initial;
        width: 100%;
    }

    .thrid-container .title-content {
        width: 60%;
    }

    .fourth-container .title-content {
        width: 100%;
    }

    .fourth-container .button-container {
        margin-bottom: 2rem;
    }

    .fifth-container .video-content {
        margin: 3rem 0;
    }

    .eighth-container .card-body,
    .nineth-container .card-body {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .eighth-container .card-body p,
    .nineth-container .card-body p {
        margin: 0;
    }

    .eighth-container .card-title-1,
    .eighth-container .card-title-2,
    .nineth-container .card-title-1,
    .nineth-container .card-title-2 {
        width: 50%;
    }

    .eighth-container .card-text,
    .nineth-container .card-text {
        margin: 1rem 0;
    }

    .tenth-container .text-content,
    .tenth-container .text-content-color {
        margin-top: 1rem;
    }

    .eleventh-container .card-container {
        position: initial;
        margin-top: 2rem;
    }

    .eleventh-container .card-color {
        margin-bottom: 2rem;
        margin-right: 0;
        width: 100%;
    }

    .twelfth-container .text-content,
    .twelfth-container .text-content-color {
        margin-top: 1rem;
    }

    .thirteenth-container .title-content .title-1:nth-child(1) h3::before {
        height: 150px;
    }

    .thirteenth-container .title-content .title-1:nth-child(1) h3::after {
        height: 100px;
    }
}

@media (max-width: 767px) {
    .title-content .title-2 h2 {
        font-size: 3em;
    }

    .second-container .text-content .text-body {
        padding: 0.5rem;
    }

    .thrid-container .card-content {
        margin-top: 0;
    }

    .thrid-container .title-content {
        width: 90%;
    }

    .fourth-container .text-content {
        margin-top: 1rem;
    }

    .eighth-container .card-title-1, 
    .eighth-container .card-title-2, 
    .nineth-container .card-title-1, 
    .nineth-container .card-title-2 {
        width: 60%;
    }

    .tenth-container .text-content-color{
        padding: 1rem;
    }

    .eleventh-container {
        padding: 1rem 0 !important;
    }

    .twelfth-container {
        margin-top: 0;
    }

    .thirteenth-container .list-body {
        flex-direction: column;
    }

    .thirteenth-container .text-content {
        margin-top: 1rem;
        padding-left: 2rem;
    }

    .thirteenth-container .list-content {
        margin-top: 0;
    }

    .thirteenth-container .list-image {
        width: 15%;
    }

    .thirteenth-container .list-item {
        height: auto;
        margin-top: 2rem;
    }

    .thirteenth-container .list-body {
        margin-bottom: 0;
    }

    .testimonial-container .title-content .title-1 h3 {
        font-size: 2em;
    }
}

@media (max-width: 575px) {
    .fifth-container .title-content .title-1 h3 {
        font-size: 24px;
    }

    .eighth-container .card-title-1, 
    .eighth-container .card-title-2, 
    .nineth-container .card-title-1, 
    .nineth-container .card-title-2 {
        width: 80%;
    }
}

@media( max-width: 425px ) {
    .fifth-container .title-content .title-2 h2 {
        font-size: 40px;
    }

    .fifth-container .button-container {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .seventh-container .title-content {
        width: 75%;
    }

    .tenth-container .title-content .title-2 h2, 
    .twelfth-container .title-content .title-2 h2 {
        font-size: 36px;
    }
}

@media (min-width: 1999px) {
    .first-container .image-content {
        width: 125%;
    }
    
    .eighth-container .container-fluid,
    .nineth-container .container-fluid {
        max-width: 1800px;
    }
}