/*General Styles*/
.title-content .title-1 h3 {
    font-size: 2em;
    font-weight: 500;
}

.title-content .title-2 h2 {
    font-size: 2.5em;
    font-weight: bold;
}


/*Section 1*/
.first-container {
    background: url("../images/Assets-Home/2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12rem !important;
    padding-bottom: 0 !important;
    position: relative;
}

.first-container::before {
    background: url("../images/Assets-Home/ondas-blancas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -20%;
    content: "";
    left: -5%;
    height: 70%;
    position: absolute;
    width: 110%;
    z-index: 2;
}

.first-container .image-content {
    width: 100%;
}

.first-container .custom-box-2 {
    margin-top: 8rem;
}

.first-container .title-content h1 {
    color: #fff;
    font-size: 2.8em;
    text-align: center;
}

.first-container .subtitle-content h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.first-container .buttons-content {
    margin-top: 2rem;
}

.first-container .buttons-content .button-1 a {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 60px;
    color: #2D2D2D;
    margin: 0 1rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.first-container .buttons-content .button-1 a:hover {
    border: 2px solid #2D2D2D;
}

.first-container .buttons-content .button-2 a {
    background-color: #2D2D2D;
    border: 2px solid #2D2D2D;
    border-radius: 60px;
    color: #fff;
    margin: 0 1rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.first-container .buttons-content .button-2 a:hover {
    border: 2px solid #fff;
}

/* Second Section */
.second-container {
    position: relative;
    z-index: 2;
}

.second-container .custom-container-row-1 .subtitle-content {
    padding-top: 1rem;
    text-align: center;
}

.second-container .custom-container-row-1 .subtitle-content p {
    font-size: 28px;
    font-weight: bold;
}

.second-container .card-content {
    margin-top: 3rem;
}

.second-container .card-body {
    background-color: #E0F8FF;
    border-radius: 75px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-top: 2rem;
}

.second-container .image-card {
    justify-content: center;
    display: flex;
    width: 75%;
}

.second-container .image-card img {
    height: 160px;
    width: auto;
}

.second-container .card-text {
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
}

.second-container .image-card-principal {
    position: relative;
}

.second-container .image-card-principal img {
    width: 107%;
}

.second-container .card-text-principal {
    background-color: #2D2D2D;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-top: -10%;
    padding: 0.5rem 3rem;
    text-align: center;
    width: 80%;
    z-index: 2;
}

.second-container .card-text-principal p {
    line-height: 1.2em;
    margin-bottom: 0.5rem;
}

/* third section*/
.third-container .title-2 h2 {
    color: #00dcff;
    text-align: center;
}

.third-container .title-content {
    position: relative;
    padding: 4rem 0;
}

.third-container .image-content {
    position: absolute;
    right: 20%;
    top: 0;
    width: 25%;
    z-index: -1;
}

.third-container .sub-content {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.third-container .sub-content .container {
    padding: 0;
}

.third-container .sub-body {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 350px 500px !important;
    color: rgb(224, 224, 224);
    font-size: 20px;
    height: 400px;
    padding: 2rem;
    position: relative;
    text-align: center;
}

.third-container .sub-content .container .row .col-12:nth-child(1) .sub-body {
    background: url("../images/Assets-Home/Assets-17.png");
}

.third-container .sub-content .container .row .col-12:nth-child(2) .sub-body {
    background: url("../images/Assets-Home/Assets-18.png");
}

.third-container .sub-content .container .row .col-12:nth-child(3) .sub-body {
    background: url("../images/Assets-Home/Assets-19.png");
}

.third-container .sub-content .container .row .col-12:nth-child(4) .sub-body {
    background: url("../images/Assets-Home/Assets-20.png");
}

.third-container .sub-text {
    margin-top: 2rem;
}

.third-container .sub-number {
    background-color: #00dcff;
    border-radius: 50%;
    color: #2d2d2d;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2em;
    left: calc(50% - 44px);
    padding: 1rem;
    position: absolute;
    top: -10%;
}

.third-container .sub-number p{
    margin: 0;
}

.third-container .custom-list-item {
    margin-top: 1rem;
}

.third-container .custom-list-item .number {
    color: #009BDB;
    font-size: 64px;
    padding-right: 2rem;
    font-weight: bold;
}

.third-container .custom-list-item .text {
    color: #333;
}

/* fourth section */
.fourth-container {
    background-color: #DBF2FA;
}

.fourth-container .title-content {
    text-align: center;
}

.fourth-container .custom-card-container {
    margin-top: 10rem;
    width: 100%;
}

.fourth-container .custom-card-container .container {
    padding: 0;
}

.fourth-container .custom-card-container .custom-card-image {
    background: rgb(241,241,241);
    background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(215,215,215,1) 100%);
    border: 3px solid #000;
    border-radius: 15px;
    height: 350px;
    position: relative;
    width: 90%;
}

.fourth-container .custom-card-container .custom-card-image .image-1 {
    bottom: -6%;
    left: -15%;
    position: absolute;
    width: 125%;
}

.fourth-container .custom-card-container .custom-card-image .image-2 {
    bottom: -4%;
    left: -6%;
    position: absolute;
    width: 110%;
}

.fourth-container .custom-card-container .custom-card-image .image-3 {
    bottom: -15%;
    left: -24%;
    position: absolute;
    width: 150%;
}

.fourth-container .custom-card-container .custom-card-image img {
    width: 100%;
}

.fourth-container .custom-card-container .custom-card-body {
    text-align: center;
    font-size: 1.2em;
    padding: 0 1rem;
    font-weight: 500;
    margin-top: 2rem;
}

.fourth-container .button-container a {
    background-color: #2D2D2D;
    border: 2px solid #2D2D2D;
}

.fourth-container .button-container a:hover {
    background-color: #fff;
    border: 2px solid #2D2D2D;
    color: #2d2d2d;
}

/* fifth Section */
.fifth-container {
    position: relative;
}


/* sixth section */
.sixth-container {
    position: relative;
}

.sixth-container .title-content {
    margin-bottom: 2rem;
}

.sixth-container .title-content .title-1 h3 {
    color: #00dcff;
}

.sixth-container .sub-content {
    margin-top: 1rem;
    padding-left: 1rem;
}

.sixth-container .sub-content p {
    color: #333;
}

.sixth-container .sub-text {
    border: 1px solid #ccc;
    border-left: 1rem solid #009bdb;
    padding: 1rem;
    margin: 1.5rem 0;
    box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 20%);
}

/* seventh section */
.seventh-container {
    padding: 5rem 0;
}

.seventh-container .title-content {
    text-align: center;
    margin-bottom: 5rem;
}

.seventh-container .title-1 {
    color: #00dcff;
}

/* eighth section*/
.eighth-container {
    position: relative;
}

.eighth-container .title-content {
    margin-bottom: 2rem;
}

.eighth-container .title-2 h2 {
    color: #00dcff;
}

.image-full-container {
    padding: 0 !important;
}

/* nineth section */
.nineth-container {
    background: url("../images/New-assets-home/home-mr-found3r-14.png"), linear-gradient(90deg, #E0F9FF 0%, #DFFFFF 100%);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10%;
    padding-top: 15% !important;
    z-index: 2;
    position: relative;
}

.nineth-container::before {
    background-color: #BCF3FA;
    content: "";
    height: 200px;
    left: 0;
    position: absolute;
    bottom: -12rem;
    width: 100%;
    z-index: -1;
}

.nineth-container .title-content {
    width: 100%;
}

.nineth-container .title-2 h2 {
    color: #00D8F0;
    line-height: 4rem;
}

.nineth-container .custom-title {
    margin-left: 15%;
}

.nineth-container .title-content .title-1 {
    margin-top: 1rem;
}

.nineth-container .sub-content {
    margin-top: 5rem;
}

.nineth-container .text-description {
    margin-top: 3rem;
    text-align: center;
}

.nineth-container .button-container a {
    background-color: #2d2d2d;
    border: 2px solid #2d2d2d;
}

.nineth-container .button-container a:hover {
    background-color: #fff;
    border: 2px solid #2d2d2d;
    color: #2d2d2d;
}

/* tenth section */
.tenth-container {
    position: relative;
    z-index: 2;
}

.tenth-container .title-content {
    width: 100%;
}

.tenth-container .title-2 h2 {
    color: #00dcff;
    text-transform: uppercase;
}

.tenth-container .blog-content {
    margin-top: 5rem;
    font-size: 16px;
}

.tenth-container .blog-content .container {
    padding: 0;
}

.tenth-container .blog-item {
    border: 3px solid #000;
    padding: 2rem;
    border-radius: 25px;
}

.tenth-container .blog-item .blog-link a {
    color: #00dcff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.tenth-container .blog-item .blog-link a:hover {
    color: #00D8F0;
}

.tenth-container .button-container a {
    background-color: #EA00FF;
    border: 2px solid #EA00FF;
}

.tenth-container .button-container a:hover {
    background-color: #fff;
    border: 2px solid #EA00FF;
    color: #EA00FF;
}

.tenth-container .blog-image {
    margin-bottom: 1rem;
}

/* Image full container */
.image-full-container .image {
    width: 90%;
}

/* Meet Section */
.meet-container {
    background: url("../images/assets-animation/22.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.meet-container::before {
    background-color: #2d2d2d;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 70%;
    z-index: -1;
}

.meet-container .custom-row {
    background-color: #fff;
    border-radius: 75px;
    padding: 5rem 3rem;
}

.meet-container .desktop-view {
    display: flex;
}

.meet-container .mobile-view {
    display: none;
}

.meet-container .person-heads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.meet-container .person-heads .person-item {
    position: relative;
}

.meet-container .person-heads .person-item::before {
    background-color: rgba(0, 155, 219, 0.5);
    border-radius: 50%;
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.meet-container .person-heads .active-person::before {
    height: 0 !important;
    width: 0 !important;
}

.meet-container .person-heads .person-item img {
    border-radius: 50%;
}

.meet-container .meet-item {
    display: flex;
}

.meet-container .meet-item .video-content {
    align-items: center;
    width: 50%;
    display: flex;
}

.meet-container .meet-item .info-body {
    width: 50%;
    padding-left: 2rem;
}

.meet-container .title-content .title-2 h2 {
    color: #EA00FF;
}

.meet-container .title-content .subtitle {
    text-align: center;
}

.meet-container .person-info {
    background: url("../images/assets-animation/22.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-top-left-radius: 75px;
    padding: 2rem;
    text-align: center;
}

.meet-container .person-info h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.meet-container .button-container a {
    background-color: #2d2d2d;
    border: 2px solid #000;
    padding: 1rem 2rem;
}

.meet-container .button-container a:hover {
    background-color: #fff;
    border: 2px solid #2d2d2d;
    color: #2d2d2d;
}

.meet-container .owl-dots {
    display: none;
}

.meet-container .arrows-content {
    bottom: -5%;
    display: flex;
    left: 15%;
    position: absolute;
    z-index: 2;
}

.meet-container .arrow-left,
.meet-container .arrow-right {
    background-color: #2d2d2d;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.meet-container .arrow-left:hover,
.meet-container .arrow-right:hover {
    background-color: #009bdb;
}

.meet-container .arrow-left span,
.meet-container .arrow-right span {
    font-size: 1.5em;
    padding: 1rem 2rem;
    line-height: 2.3em;
}

/* Logo section */
.custom-logo-container {
    position: relative;
    z-index: 2;
    padding-bottom: 0 !important;
}

.custom-logo-container .title-content .title-1 h3 {
    text-align: center;
}

.custom-logo-container .card-content {
    margin-top: 3rem;
    width: 100%;
}

.custom-logo-container .card-content .owl-dots {
    display: none;
}

/* table section */
.table-container {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.table-container .container {
    max-width: 1600px;
    width: 90%;
}

.table-container p {
    margin: 0;
}

.table-container .table-body {
    margin-top: 3rem;
    width: 100%;
}

.table-container .table-body .table {
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0;
}

.table-container .table-body .table tbody td {
    border: 2px solid #D9DBDC;
    padding: 6px;
}

.table-container .table-body .table tbody .row-type-1 td {
    background: #f3f3f3;
    background: linear-gradient(90deg, #FEFEFE 0%, #f3f3f3 75%);
}

.table-container .table-body .table tbody .row-type-1 .first-item {
    background: #f3f3f3;
    background: linear-gradient(90deg, #FEFEFE 0%, #E4E6E6 75%);
}

.table-container .table-body .table tbody .row-type-2 td {
    background: #EDEEEF;
    background: linear-gradient(90deg, #EDEEEF 25%, #E2E4E5 75%);
}

.table-container .table-body .table td,
.table-container .table-body .table th {
    width: 15%;
    vertical-align: middle;
}

.table-container .table-body .table .first-item {
    width: 25%;
}

.table-container .table-body .table .image-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container .table-body .table .image-content img {
    width: 20px;
    margin-right: 6px;
}

.table-container .table-body .table .image-content img:last-child {
    margin-right: 0 !important;
}

.table-container .table-body .table .row-type-title th {
    vertical-align: middle;
    color: #000;
}

.table-container .table-body .table .row-type-title th .table-title {
    font-weight: normal;
    text-align: center;
}

.table-container .table-body .table .row-type-title .title-type-1 {
    background-color: #00DCFF;
}

.table-container .table-body .table .row-type-title .title-type-2 {
    background-color: #009BDB;
}

.table-container .table-body .table .row-type-title .custom-border-1 {
    border-top-left-radius: 25px;
}

.table-container .table-body .table .row-type-title .custom-border-2 {
    border-top-right-radius: 25px;
}

.table-container .table-body .table .row-type-1 .custom-border-1 {
    border-bottom-left-radius: 25px;
}

.table-container .table-body .table .row-type-1 .custom-border-2 {
    border-bottom-right-radius: 25px;
}

.table-container .table-body .table .row-type-1 .custom-border-top {
    border-top-left-radius: 25px;
}

/* tech section */
/* background: linear-gradient(90deg, #E0F9FF 0%, #DFFFFF 100%); */
.tech-container {
    background: #DFFFFF;
    background: linear-gradient(90deg, #E0F9FF 0%, #DFFFFF 100%);
    position: relative;
    padding-bottom: 0 !important;
}

.tech-container .card-content {
    margin-top: 3rem;
    width: 100%;
    z-index: 3;
}

.tech-container .card-content .card-boby {
    flex-wrap: wrap;
    width: 100%;
}

.tech-container .card-content .card-boby .custom-card-item {
    width: 15%;
    margin-right: 2%;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.tech-container .card-content .card-boby .custom-card-item:hover {
    padding: 0.5rem;
}

.tech-container .card-content .card-boby .custom-card-item:nth-child(6n) {
    margin-right: 0;
}

/* Youtube section */
.youtube-container {
    background: url("../images/New-assets-home/home-mr-found3r-16.png");
    background-position: center  0;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
    position: relative;
    padding-top: 18% !important;
    margin-top: -18%;
    z-index: 2;
}

.youtube-container .title-content {
    position: relative;
}

.youtube-container .title-content .title-2 h2 {
    margin: 0;
}

.youtube-container .custom-card-content {
    margin-top: 6rem;
}

.youtube-container .custom-card-content .video-content {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.youtube-container .custom-card-content .video-item {
    width: 48%;
    margin-bottom: 3rem;
}

.youtube-container .custom-card-content .video-content .video-item:first-child {
    margin-right: 4%;
}

.youtube-container .image-conntent {
    bottom: -4rem;
    position: absolute;
    width: 140%;
}

.youtube-container .image-title-absolute {
    position: absolute;
    width: 8%;
    left: 6%;
    bottom: -5rem;
}

.youtube-container .image-content-absolute {
    position: absolute;
    width: 8%;
    right: 15%;
    bottom: 10%;
}

/* Responsive */

@media (max-width: 1399px) {
    .first-container .title-content h1 {
        font-size: 2.4em;
    }

    .first-container::before {
        bottom: -25%;
    }

    .second-container .card-body {
        height: 250px;
    }
    
    .second-container .image-card img {
        height: 130px;
    }

    .fourth-container .custom-card-container {
        margin-top: 8rem;
    }

    .fourth-container .custom-card-container .custom-card-image {
        height: 297px;
    }

    .meet-container .person-info h4 {
        font-size: 28px;
    }

    .meet-container .arrows-content {
        bottom: 0;
    }
}

@media (max-width: 1199px) {
    .second-container .card-text-principal {
        font-size: 28px;
    }

    .second-container .card-body {
        height: 200px;
    }
    
    .second-container .image-card img {
        height: 100px;
    }

    .third-container .title-content {
        padding: 2rem 0;
    }

    .third-container .image-content {
        width: 25%;
    }

    .third-container .sub-number {
        font-size: 36px;
        left: calc(50% - 37px);
    }

    .third-container .sub-body {
        background-size: cover !important;
        margin-bottom: 5rem;
    }

    .third-container .button-container {
        margin-top: 0;
    }

    .third-container .sub-content {
        margin-bottom: 0;
    }

    .fourth-container .custom-card-container .custom-card-image {
        height: 243px;
    }

    .fourth-container .custom-card-container {
        margin-top: 6rem;
    }
    
    .fourth-container .custom-card-container .custom-card-body {
        margin-top: 1rem;
    }

    .sixth-container .custom-list-item .number {
        font-size: 52px;
    }

    .tenth-container .blog-item {
        margin-bottom: 3rem;
    }

    .tenth-container .button-container {
        margin-top: 0;
    }

    .meet-container .button-container {
        margin-top: 1rem;
    }

    .meet-container .person-info h4 {
        font-size: 24px;
    }

    .youtube-container .title-image{
        width: 25%;
    }
}

@media (max-width: 991px) {
    .title-content .title-1 h3 {
        font-size: 1.8em;
    }

    .title-content .title-2 h2 {
        font-size: 2.3em;
    }

    .first-container .custom-box-2 {
        margin-top: 0;
    }

    .first-container .subtitle-content {
        width: 100%;
        text-align: center;
    }

    .first-container::before {
        left: -25%;
        width: 200%;
    }

    .second-container .custom-container-row-1 .subtitle-content p {
        font-size: 20px;
    }

    .second-container .card-body {
        height: 290px;
        margin-top: 2rem;
    }

    .second-container .image-card img {
        height: auto;
        width: 100%;
    }

    .second-container .card-text-principal {
        font-size: 44px;
    }

    .second-container .card-content {
        margin-top: 0;
    }

    .third-container .title-content {
        padding: 1rem 0;
    }

    .third-container .sub-content {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .third-container .sub-body {
        font-size: 16px;
    }

    .third-container .button-container {
        margin-top: 0;
    }

    .third-container .sub-body {
        background-size: cover !important;
        height: 300px;
        margin-bottom: 5rem;
    }

    .third-container .sub-number {
        font-size: 24px;
        left: calc(50% - 30px);
        top: calc(0% - 30px);
    }

    .fourth-container .custom-card-container {
        margin-top: 3rem;
    }

    .fourth-container .custom-card-container .custom-card-image {
        height: 558px;
        margin-top: 12rem;
    }

    .sixth-container .text-content-absolute {
        position: initial;
        width: 90%;
        margin: 0 auto;
    }

    .seventh-container .title-content {
        margin-bottom: 2rem;
    }

    .nineth-container .button-absolute {
        bottom: 25%;
        right: 20%;
    }

    .tenth-container {
        padding-bottom: 4rem !important;
    }

    .tenth-container .blog-item {
        margin-bottom: 2rem;
    }

    .tenth-container .button-container {
        margin-top: 0;
    }

    .nineth-container {
        background-position: left 0;
    }

    .nineth-container .sub-content .container .text-description {
        padding: 0; 
        text-align: center; 
        width: 100%;
    }

    .nineth-container .button-container,
    .tech-container .card-content,
    .table-container .table-body {
        margin-top: 1rem;
    }

    .meet-container .desktop-view {
        display: none;
    }

    .meet-container .mobile-view {
        display: flex;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .meet-container .person-heads {
        flex-direction: row;
        height: auto;
        margin-bottom: 1rem;
    }

    .meet-container .person-heads .person-item {
        width: 25%;
        margin: 0 0.5rem;
    }

    .meet-container .meet-item {
        flex-direction: column;
    }

    .meet-container .meet-item .video-content,
    .meet-container .meet-item .info-body {
        padding-left: 0;
        width: 100%;
    }

    .meet-container .meet-item .info-body {
        margin-top: 3rem;
    }

    .meet-container .person-info {
        border-radius: 75px;
    }

    .meet-container .arrows-content {
        bottom: 25%;
        left: 35%;
    }

    .tech-container .card-content .card-boby .custom-card-item {
        width: 22%;
        margin-right: 4%;
    }

    .tech-container .card-content .card-boby .custom-card-item:nth-child(6n) {
        margin-right: 4%;
    }

    .tech-container .card-content .card-boby .custom-card-item:nth-child(4n) {
        margin-right: 0;
    }

    .youtube-container .image-conntent {
        position: initial;
        width: 75%;
        margin-top: 1rem;
    }
}

@media (max-width: 767px) {
    .first-container .title-content h1 {
        font-size: 2.5em;
    }
    
    .first-container .subtitle-content h2 {
        font-size: 24px;
    }

    .second-container .card-text-principal {
        font-size: 32px;
    }

    .second-container .card-body {
        height: auto;
    }

    .third-container .sub-body {
        background: #333 !important;
        margin-bottom: 3rem;
        height: auto;
    }

    .fourth-container .custom-card-container .custom-card-image {
        height: 396px;
        margin-top: 8rem;
    }
    
    .sixth-container .custom-list-item .number {
        font-size: 40px;
    }

    .nineth-container .sub-content,
    .tenth-container .blog-content {
        margin-top: 2rem;
    }

    .tenth-container::before {
        height: 100px;
    }

    .meet-container .arrows-content {
        bottom: 28%;
        left: calc(50% - 78px);
    }

    .meet-container .person-info {
        padding: 1rem;
    }

    .meet-container .meet-item .info-body {
        margin-top: 2rem;
    }

    .table-container .table-body .table .image-content img {
        width: 15px;
    }

    .tech-container .title-content .title-1 h3 {
        font-size: 2em;
    }

    .table-container {
        font-size: 16px;
    }

    .youtube-container .custom-card-content .video-item {
        width: 100%;
        margin-right: 0 !important;
    }

    .youtube-container {
        padding-top: 20rem !important;
        margin-top: -15rem;
    }

    .youtube-container .image-title-absolute,
    .youtube-container .image-content-absolute {
        display: none;
    }

    .youtube-container .custom-card-content {
        margin-top: 1rem;
    }
}

@media (max-width: 575px) {
    .first-container .title-content {
        text-align: center;
    }

    .first-container::before {
        height: 60%;
    }

    .first-container .buttons-content {
        flex-direction: column;
        text-align: center;
    }

    .first-container .buttons-content .button-1,
    .first-container .buttons-content .button-2 {
        height: 70px;
    }

    .fourth-container .title-content {
        margin-top: 2rem;
    }

    .fourth-container .custom-card-container .custom-card-image {
        height: 431px;
        margin-top: 7rem;
    }

    .nineth-container .button-absolute {
        right: 24%;
    }

    .tenth-container .blog-content .container .row .col-12 {
        display: flex;
        justify-content: center;
    }

    .tenth-container .blog-content .blog-item {
        width: 80%;
    }

    .tenth-container .blog-content .container .col-12 {
        padding: 0 !important;
    }

    .meet-container .custom-row {
        padding: 2rem;
    }

    .meet-container .col-12 {
        padding: 0;
    }

    .meet-container .person-info {
        border-radius: 25px;
    }

    .meet-container .arrow-left span, .meet-container .arrow-right span {
        font-size: 1.5em;
        padding: 1rem;
        line-height: 2em;
    }

    .meet-container .arrows-content {
        left: calc(50% - 46px);
    }

    .table-container .table-body {
        overflow: scroll;
    }

    .testimonial-container .custom-card-footer {
        font-size: 18px !important;
    }

    .tech-container .card-content {
        padding: 0 1rem;
    }

    .tech-container .card-content .card-boby .custom-card-item {
        width: 30.5%;
        margin-right: 4%;
        margin-bottom: 2rem;
    }

    .tech-container .card-content .card-boby .custom-card-item:nth-child(6n) {
        margin-right: 4%;
    }

    .tech-container .card-content .card-boby .custom-card-item:nth-child(4n) {
        margin-right: 4%;
    }

    .tech-container .card-content .card-boby .custom-card-item:nth-child(3n) {
        margin-right: 0;
    }

    .nineth-container::before {
        bottom: -12rem;
    }

    .youtube-container .title-content .title-2 h2 {
        font-size: 1.5em;
    }

    .youtube-container .title-image {
        width: 40%;
    }
}

@media (max-width: 425px) {
    .second-container .card-text-principal {
        font-size: 20px;
        padding: 0.5rem 2rem;
    }

    .eighth-container .title-content {
        width: 100%;
    }
    
    .fourth-container .custom-card-container .custom-card-image {
        height: 250px;
    }

    .fourth-container .custom-card-container {
        margin-top: 2rem;
    }

    .nineth-container .button-absolute {
        right: 50px;
    }

    .meet-container .arrows-content {
        bottom: 40%;
    }
}

@media (min-width: 2300px) {
    .first-container {
        padding-bottom: 5% !important;
    }

    .youtube-container {
        margin-top: -15%;
    }
}


/* Styles for Calculator */

@font-face {
	font-family: "HeyComic";
	src: url("../assets/fonts/HeyComic.ttf");
}

.seventh-container h1,
.seventh-container h2,
.seventh-container h4,
.seventh-container h5 {
	font-family: "HeyComic", Helvetica, sans-serif !important;
}

.rolesCont {
	display: flex;
	margin: 10px 0;
}
.rolesCont .inputs label,
.rolesCont .inputs input {
	display: inline-block;
}
.rolesCont .inputs,
.rolesCont .form-check,
.rolesCont .inputs .hours,
.rolesCont .inputs .employeesCount {
	display: flex;
}

.rolesCont .inputs .hours label,
.rolesCont .inputs .employeesCount label,
.rolesCont .form-check label,
.rolesCont .form-check input {
	align-self: center;
}

.principalTable {
	width: 100%;
}

.principalTable th {
	text-align: left;
}

.principalTable th,
.principalTable td {
	padding: 5px;
}

#totalHours {
	font-size: 18px;
}

.rolesCont .inputs .hours,
.rolesCont .inputs .employeesCount,
.rolesCont .inputs .hours label,
.rolesCont .inputs .employeesCount label,
.rolesCont .form-check input {
	margin: 0 10px 0 0;
}

.customHoursCont{
	display:flex;
	align-items:center;
}

.customHoursCont label{
	margin-left:5px;
}

.form-check{
	padding-left: 0 !important;
}

#inHouseCont,
#freelancersCont,
#VAsCont,
#agencyCont {
	display: none;
	background: linear-gradient(180deg, #00d8f0 0%, #00d8f0 50%, #009bdb 100%);
	padding: 55px 80px;
	border-radius: 20px;
	margin-bottom: 20px;
	color: #fff;
	-webkit-box-shadow: 2px 11px 35px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 11px 35px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 11px 35px -6px rgba(0, 0, 0, 0.75);
}

#customHoursRate, .customNumber {
	width: 70px !important;
}

#inHouseCont span,
#freelancersCont span,
#VAsCont span,
#agencyCont span {
	float: right;
}

#mailCont {
	position: fixed;
	background: linear-gradient(180deg, #00d8f0 0%, #00d8f0 50%, #009bdb 100%);
	color: #fff;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mailCont .content {
	border: 1px solid #fff;
	padding: 90px;
	display: block;
	border-radius: 20px;
	text-align: center;
}

#mailCont .content button {
	margin: 10px auto;
	display: block;
}

#mailCont .content input {
	margin: 0 auto;
	display: block;
	width:100%;
	margin-bottom:15px;
}

.seventh-container .container {
	padding: 50px;
}
.customTitle {
	margin: 10px 0 15px 0;
}

.inputCont{
	margin-bottom: 30px;
}

.accordionButton {
	color: #fff;
	background-color: transparent;
	border: 0;
	padding: 0;
	width: 100%;
	text-align: start;
	margin: 15px 0;
	transition: 0.4s;
	position: relative;
	cursor: pointer;
}

.accordion {
	position: relative;
}

.accordion.active .collapsible {
	transition: height 0.8s;
	transform-origin: top;
}

.collapsible {
	transition: height 0.8s;
	color: #fff;
	position: relative;
	transform-origin: top;
	height: 0;
	padding: 0;
	background-color: transparent;
	overflow: hidden;
}

.opText {
	font-weight: normal;
}

.totalOp {
	border-top: 1px solid #fff;
	padding-top: 5px;
}

h5 span {
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.form-check-input:checked {
	background-color: #00dcff !important;
	border-color: #00dcff !important;
}

.customTable {
	display: block;
	width: 100%;
}

#customHours{
	display:none;
}

.customTable .title .customRow,
.customTable .customBody .customRow{
	display:flex;
}

.customTable.twoCols .title .customRow div,
.customTable.twoCols .customBody .customRow div{
	width: 50%;
}

.customTable.twoCols .title .customRow div:last-child{
	text-align: end;
}

.customTable .title .customRow div,
.customTable .customBody .customRow div {
	padding: 0;
}
/* width */
.customTable::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

/* Track */
.customTable::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
.customTable::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 10px;
}

/* Handle on hover */
.customTable::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

.customRow p{
	margin-bottom: 0px;
}

.customCol{
	width:75% !important;
}

.customCol2{
	width:25% !important;
}

@media only screen and (max-width:750px){
	#inHouseCont, #freelancersCont, 
	#VAsCont, #agencyCont{
		padding:35px 40px;
		font-size:14px;
	}
	.seventh-container .container{
		padding-left:30px !important;
		padding-right:30px !important;
	}
}